@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

@media (max-width: 1440px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {

  .section__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .menu .container,
  .container {
    padding: 0 2rem;
  }

  .header__wrap>.btn {
    display: none;
  }

  .header {
    background-color: var(--primary-accent);
    padding: 1.8rem 0;
  }

  .header__logo {
    height: 3rem;
  }

  .header__btn {
    height: 4.4rem;
    border-color: var(--primary-white);
  }

  .header__icons-item {
    background-color: var(--primary-black);
  }

  .burger {
    height: 4.4rem;
    background-color: var(--white);
    color: var(--primary-accent);
  }

  .nav {
    display: none;
  }

  .menu {
    max-width: 100%;
  }

  .menu__head-container {
    flex-direction: column-reverse;
  }

  .menu__list-title,
  .menu__list-link {
    font-size: 2.4rem;
  }

  .menu__list-content ul a {
    font-size: 1.4rem;
  }

  .menu__foot {
    padding: 3rem 0;
  }

  .menu__foot-title {
    font-size: 1.4rem;
  }

  .menu__foot-link {
    font-size: 2.4rem;
  }

  .menu__inner {
    padding: 0;
    gap: 3rem;
  }

  .menu__head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-accent);
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 1rem 2rem;
  }

  .menu .header__logo {
    display: block;
    width: 12.4rem;
  }

  .menu .burger {
    background-color: var(--white);
    border-color: var(--white);
  }

  .menu__download-item i {
    width: 5rem;
    height: 5rem;
  }

  .menu__foot-container {
    gap: 2rem;
  }

  .menu__foot-text {
    font-size: 1.4rem;
  }

  .menu__download {
    gap: 1rem;
  }

  .menu__download-item {
    gap: 1rem;
    font-size: 1.4rem;
    width: calc(50% - 0.5rem);
  }

  .hero__blocks {
    flex-direction: column;
    gap: 3rem;
  }

  .hero__block {
    gap: 2rem;
    width: 100%;
  }

  .hero__block-wrap {
    gap: 1rem;
  }

  .hero__block-count {
    font-size: 6rem;
  }

  .hero__block-title {
    font-size: 1.6rem;
  }

  .hero__block-text {
    font-size: 1.4rem;
  }

  .hero__item-title span {
    font-size: 3rem;
  }

  .hero__item-title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .feat__items {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .feat__item {
    width: calc(25% - 0.75rem);
    padding: 1rem;
  }

  .feat__item-title {
    font-size: 1.6rem;
  }

  .transport__items {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .transport__item {
    width: calc(25% - 0.75rem);
    padding: 2rem;
  }

  .transport__item-title {
    font-size: 1.6rem;
  }

  .transport__item-list li {
    font-size: 1.6rem;
  }

  .about::before {
    display: none;
  }

  .about__inner {
    width: 100%;
  }

  .about__body {
    flex-direction: column;
    gap: 2rem;
  }

  .about__img {
    height: 39.6rem;
  }

  .about__content {
    gap: 1rem;
  }

  .about__content-text::before {
    display: none;
  }

  .about__feat-count {
    font-size: 3.4rem;
  }

  .about__feat {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem 1rem;
    padding: 0;
    border: 0;
  }

  .about__feat-item {
    gap: 1rem;
  }

  .footer__head {
    padding: 3rem 0;
  }

  .footer__menu {
    grid-template-columns: 1fr auto auto;
    gap: 2rem 3rem;
  }

  .footer__menu-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .footer__menu-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .footer__menu-item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .footer__menu-item:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .footer__menu-list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .footer__menu-title {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  .footer__menu-link {
    font-size: 1.4rem;
  }

  .footer__info {
    grid-column: 3/4;
  }

  .footer__body {
    padding: 2rem 0;
  }

  .footer__body-logo {
    height: 4rem;
  }

  .footer__body-title {
    font-size: 2.5rem;
  }

  .footer__body-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 660px) {}

@media (max-width: 600px) {
  .header__btn {
    display: none;
  }

  .hero__item-title {
    font-size: 4rem;
  }

  .hero__item-title span {
    font-size: 3rem;
  }

  .menu .header__btn {
    display: flex;
  }

  .feat__item {
    width: calc(50% - 0.5rem);
  }

  .transport__item {
    width: calc(50% - 0.5rem);
    padding: 2rem;
  }

  .about__content {
    flex-direction: column;
    gap: 2rem;
  }

  .about__img {
    width: 100%;
    height: auto;
  }

  .about__content-text {
    width: 100%;
  }

  .about__feat {
    display: flex;
    flex-direction: column;
  }

  .about__feat-text {
    font-size: 1.4rem;
  }

  .footer__menu {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }

  .footer__menu-item:nth-child(1) {
    grid-row: 1/2;
  }

  .footer__menu-item:nth-child(2) {
    grid-row: 1/4;
  }

  .footer__menu-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__menu-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .footer__menu-title {
    color: inherit;
    text-transform: capitalize;
    white-space: normal;
  }

  .footer__info {
    grid-column: 1/3;
    grid-row: 4/5;
    align-items: flex-start;
  }

  .footer__info-download {
    flex-direction: row-reverse;
  }

  .footer .header__btn {
    display: flex;
    width: 100%;
  }

  .footer__body {
    flex-direction: column-reverse;
  }

  .footer__body-logo {
    width: 100%;
    height: auto;
  }

  .footer__body-item {
    text-align: left;
  }

  .footer__body-title {
    font-size: 3.4rem;
  }

  .footer__body-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {}

@media (max-width: 360px) {}