@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

@media (max-width: 1440px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {

  .head {
    height: 11.438rem;
    // height: fit-content;
    z-index: 400;
  }

  .head--active {
    height: 8rem;
  }

  .head--active .nav {
    display: none;
  }

  .menu .header__btn {
    display: none;
  }

  .burger--opened.burger span::before,
  .burger--opened.burger span::after {
    background-color: var(--primary-accent);
  }

  .head .burger--opened.burger:hover span {
    background-color: transparent;
  }

  .nav {
    background-color: var(--white);
  }

  .nav .container {
    padding: 0;
  }

  .nav__container {
    overflow-y: scroll;
  }

  .nav__list {
    flex-direction: row;
    width: fit-content;
    padding: 0 2rem;
  }

  .nav__list-link {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--primary-black);
    white-space: nowrap;
  }

  .nav__list li {
    gap: 1rem;
  }

  .nav__list li::before {
    background-color: var(--primary-accent);
    width: 0.8rem;
    height: 0.8rem;
  }

  .nav__list-link::before {
    background-color: var(--primary-black);
  }

  .nav__list-link::after {
    border-bottom-color: var(--primary-black);
  }

  body {
    // padding-bottom: 6.4rem;
  }

  section {
    margin-bottom: 3rem;
  }

  .section__suptitle {
    font-size: 1.6rem;
  }

  .wrapper {
    padding-top: 11.438rem;
    // padding-bottom: 6.4rem;
  }

  .icon-angle-item {
    width: 2.062rem;
    height: 2rem;
  }

  .icon-angle {
    font-size: 1.3rem;
  }

  .modal:not(.modal#modal-calc) {
    // height: calc(100vh - 6.4rem);
    padding-bottom: 6.4rem;
  }

  #modal-bid .modal__box {
    padding: 3rem 2rem;
  }

  .modal__bid-text {
    margin-bottom: 2rem;
  }

  .modal .calc__inner {
    padding: 0;
  }

  .calc__inner {
    padding: 3rem 2rem;
  }

  .calc__content {
    gap: 2rem;
  }

  .calc__block {
    flex-direction: column;
    gap: 1rem;
  }

  .calc__head {
    flex-direction: row;
    gap: 1rem;
    width: 15.4rem;
  }

  .calc__head-text {
    font-size: 1.6rem;
  }

  .calc__body {
    gap: 1rem;
  }

  .dropdown__button {
    height: 5rem;
  }

  .form-group {
    width: calc(50% - 0.5rem);
  }

  .form-btn {
    width: calc(50% - 0.5rem);
    height: 5rem;
  }

  .form-bottom {
    width: calc(50% - 0.5rem);
    margin: 0 0 0 auto;
  }

  .form-text {
    font-size: 1rem;
  }

  .form-title {
    font-size: 1rem;
    margin-top: -0.3rem;
  }

  .form-input {
    font-size: 1.4rem;
    height: 5rem;
    padding: 1rem 3.2rem 1rem 2rem;
  }

  .form-title+input {
    padding-top: 2.4rem;
  }

  .form-textarea {
    font-size: 1.4rem;
  }

  .modal .form-btn {
    width: calc(50% - 0.5rem);
    height: 5rem;
  }

  .service__items {
    gap: 1rem;
  }

  .service__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }

  .service__item:hover .icon-angle-first {
    transform: translate(0.15rem, -0.15rem);
  }

  .service__item:hover .icon-angle-second {
    transform: translate(-0.15rem, 0.15rem);
  }

  .service__item-head {
    width: 100%;
    gap: 1.6rem;
  }

  .service__item-count {
    font-size: 3rem;
    width: 3.5rem;
    text-align: center;
  }

  .service__item-title {
    font-size: 1.6rem;
  }

  .service__item-text {
    font-size: 1.6rem;
    padding-left: 5.1rem;
  }

  .service__item-body {
    width: calc(100% - 3rem);
  }

  .service__item-icon {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
  }

  .section__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .menu .container,
  .container {
    padding: 0 2rem;
  }

  .header__wrap>.btn {
    display: none;
  }

  .header {
    background-color: var(--primary-accent);
    padding: 1.8rem 0;
  }

  .header__logo {
    height: 3rem;
  }

  .header__btn {
    height: 4.4rem;
  }

  .header .header__btn {
    width: 25rem;
  }

  .footer .header__btn {
    height: 5rem;
  }

  .footer .header__btn-icon {
    top: 1.2rem;
  }

  .footer__info-btn {
    height: 5rem;
  }

  .modal__btn i {
    font-size: 2.4rem;
  }

  .head .header__btn-icon,
  .header__btn-icon {
    top: 1rem;
  }

  .menu .header__btn-active .header__btn-icon {
    top: 1.8rem;
  }

  .header__btn-head {
    border-color: var(--primary-white);
  }

  .header__btn-head:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--primary-accent);
  }

  .header__btn-head:hover+.header__btn-icon {
    color: var(--primary-accent);
  }

  .header__icons-item {
    background-color: var(--primary-black);
  }

  .burger {
    width: 14.411rem;
    height: 4.4rem;
    background-color: var(--white);
    color: var(--primary-black);
  }

  .burger span,
  .burger span::before,
  .burger span::after {
    background-color: var(--primary-black);
  }

  .burger:hover span,
  .burger:hover span::before,
  .burger:hover span::after {
    background-color: var(--primary-accent);
  }

  .menu__close:hover.burger {
    border-color: var(--white);
    background-color: var(--white);
  }

  .menu__close:hover .burger__text {
    color: var(--primary-black);
  }

  .menu__close:hover.burger span {
    background-color: transparent;
  }

  .menu__close:hover.burger span::before,
  .menu__close:hover.burger span::after {
    background-color: var(--primary-accent);
  }

  .menu__inner {
    max-width: 100%;
    top: -100%;
    right: 0;
    padding: 11rem 0 0;
    gap: 3rem;
  }

  .menu.mobile-menu--opened .menu__inner {
    top: 0;
  }

  .menu.mobile-menu--opened {}

  .menu__head {
    display: none;
  }

  .menu__inner {
    // flex-direction: column-reverse;
  }

  .menu__body.down {
    // margin-top: 31rem;
    margin-top: 0;
  }

  .menu__list-title,
  .menu__list-link {
    font-size: 2.4rem;
  }

  .menu__list-content ul a {
    font-size: 1.4rem;
  }

  .menu__foot {
    padding: 3rem 0;
  }

  .menu__foot-title {
    font-size: 1.4rem;
  }

  .menu__foot-link,
  .menu__foot-wrap:nth-child(2) .menu__foot-link {
    font-size: 2.4rem;
  }

  .menu__head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-accent);
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 1.8rem 2rem;
  }

  .menu .header__logo {
    display: block;
    // width: 12.4rem;
  }

  .menu .burger {
    background-color: var(--white);
    border-color: var(--white);
  }

  .menu__download-item i {
    width: 5rem;
    height: 5rem;
  }

  .menu__foot-container {
    gap: 2rem;
  }

  .menu__foot-text {
    font-size: 1.4rem;
  }

  .menu__download {
    gap: 1rem;
  }

  .menu__download-item {
    gap: 1rem;
    font-size: 1.4rem;
    width: calc(50% - 0.5rem);
  }

  .hero__container {
    background-image: url(./../images/main/hero-bg-mob.png);
  }

  .hero__blocks {
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;
  }

  .hero__block {
    gap: 2rem;
    width: 100%;
  }

  .hero__block:nth-child(1) {
    max-width: 30rem;
    width: 100%;
  }

  .hero__block:nth-child(2) {
    max-width: 26.5rem;
    width: 100%;
  }

  .hero__block-wrap {
    gap: 1rem;
  }

  .hero__block-count {
    font-size: 6rem;
    text-align: center;
    width: 4rem;
    flex-shrink: 0;
  }

  .hero__block-title {
    font-size: 1.6rem;
  }

  .hero__block-text {
    font-size: 1.4rem;
  }

  .hero__item {
    max-width: 42.3rem;
    width: 100%;
    padding-bottom: 3rem;
    position: relative;
    z-index: 2;
  }

  .hero__item-title span {
    font-size: 3rem;
  }

  .hero__item-title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .hero__item-down {
    margin: auto 0 0;
  }

  .hero__slider-item {
    height: 100%;
  }

  .hero__img {
    width: 47.6rem;
    height: 51.2rem;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 3rem;
    z-index: 1;
  }

  .hero .canvas-wrap {
    position: absolute;
    top: unset;
  }

  .hero .plane {
    height: 100%;
  }

  .fraction {
    width: 9rem;
    height: fit-content;
    font-size: 4rem;
    padding: 2.1rem 0;
  }

  .fraction-current {
    font-size: 6rem;
    // line-height: 90%;
  }

  .feat__items {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .feat__item {
    width: calc(25% - 0.75rem);
    padding: 1rem;
  }

  .feat__item-title {
    font-size: 1.4rem;
  }

  .transport__items {
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .transport__item {
    width: calc(25% - 0.75rem);
    padding: 2rem;
  }

  .transport__item-title {
    font-size: 1.6rem;
  }

  .transport__item-list li {
    font-size: 1.6rem;
  }

  .transport__item .icon-angle-item {
    top: unset;
    bottom: 1rem;
    right: 1rem;
    width: 1.6rem;
    height: 1.5rem;
  }

  .transport__item .icon-angle {
    font-size: 1rem;
  }

  .about::before {
    display: none;
  }

  .about__inner {
    width: 100%;
  }

  .about__body {
    flex-direction: column;
    gap: 2rem;
  }

  .about__img {
    height: 39.6rem;
  }

  .about__content {
    gap: 1rem;
  }

  .about__content-text::before {
    display: none;
  }

  .about__feat-count {
    font-size: 3.4rem;
  }

  .about__feat {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem 1rem;
    padding: 0;
    border: 0;
  }

  .about__feat-item {
    gap: 1rem;
  }

  .work__body {
    gap: 1rem;
  }

  .work__blocks {
    gap: 1rem;
  }

  .work__block {
    padding: 2rem;
  }

  .work__block-count {
    font-size: 3.4rem;
  }

  .work__block-text {
    font-size: 1.6rem;
    margin: 0;
  }

  .work__item-content {
    width: 35.7rem;
    // height: 27rem;
    height: 100%;
    padding: 2rem 2rem 7rem;
    gap: 1rem;
  }

  .work__slide {
    width: calc((100% - 35.7rem) / 4) !important;
  }

  .work__slide.work__slide-active {
    width: 35.7rem !important;
  }

  .work__item-title {
    font-size: 1.6rem;
  }

  .work__item-text {
    font-size: 1.4rem;
  }

  .work__item-count {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }

  .work__item-icon {
    display: none;
  }

  .banner {
    display: flex;
    align-items: center;
    height: 21rem;
    padding: 1rem 3rem;
  }

  .banner::before {
    top: 0;
    right: -1.8rem;
    width: 36.8rem;
    height: 24.8rem;
  }

  .banner__inner {
    max-width: 38.8rem;
  }

  .banner__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .banner__text {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .case__inner {
    display: flex;
    flex-direction: column;
  }

  .case__head {
    order: 3;
    margin-top: 1rem;
  }

  .case__head .tabs__btns {
    display: none;
  }

  .case__head .btn {
    width: 100%;
  }

  .case__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .case__content {
    overflow: hidden;
    padding: 0 2rem;
  }

  .case__acc {
    cursor: pointer;
    border-radius: var(--primary-border-r-5);
    border: 0.1rem solid transparent;
    // transition: all 0.5s ease;
    transition: all 0.8s ease;
    background-color: var(--white);
  }

  .case__acc.active {
    border-color: var(--primary-border-c-2);
    background-color: transparent;
  }

  .case__acc.active .case__acc-content {
    grid-template-rows: 1fr;
  }

  .case__acc-title {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 125%;
    text-transform: uppercase;
  }

  .case__acc-icon {
    font-size: 2.4rem;
    line-height: 100%;
    color: var(--primary-accent);
  }

  .case__acc-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2rem;
  }

  .case__acc-content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    // transition: all 0.5s ease;
    transition: all 0.8s ease;
  }

  .case__acc.active .case__content {
    padding: 0.7rem 2rem 2rem;
  }

  .case__items {
    padding: 0;
    border: 0;
  }

  .case__item {
    flex-direction: column;
    gap: 0.7rem;
    padding: 0;
    border: 0;
  }

  .case__item-head {
    width: 100%;
    gap: 2rem;
    align-items: flex-end;
  }

  .case__item-count {
    font-size: 3.4rem;
    width: 3.9rem;
  }

  .case__item-title {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
  }

  .case__item-text {
    font-size: 1.4rem;
  }

  .case__img {
    width: 33.6rem;
    height: 31.9rem;
  }

  .case .tabs__panel {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    height: auto;
  }

  .case__img {
    transform: scale(1);
    transform: unset;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .case__item {
    transform: unset;
    transition: all 0.3s linear;
  }

  .case__item:nth-child(2) {}

  .case__item:nth-child(3) {}

  .accordion.active .case__img {
    opacity: 1;
    transform: translateX(0);
    transition-delay: unset;
  }

  .partner .section__head {
    width: 50%;
  }

  .partner__head {
    gap: 1.5rem;
  }

  .partner__head-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    padding-top: 2.8rem;
  }

  .partner__head-suptitle {
    font-size: 1.4rem;
  }

  .partner__head-count {
    font-size: 10rem;
    line-height: 70%;
    margin: 0;
  }

  .partner__item {
    width: 33.33333%;
    min-width: 33.33333%;
    height: 13rem;
  }

  .partner__item-img {}

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-600%);
    }
  }

  .faq__item-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }

  .faq__item-count {
    font-size: 3.4rem;
    width: 4rem;
    min-width: 4rem;
  }

  .faq__item-title {
    font-size: 1.6rem;
  }

  .faq__item-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
  }

  .faq__item-btn i {
    font-size: 1.6rem;
  }

  .faq__item {
    padding-bottom: 2rem;
  }

  .faq__item-content {
    padding: 0;
  }

  .faq__item-text {
    font-size: 1.4rem;
  }

  .request__inner {
    padding: 3rem 2rem;
  }

  .request .calc__head {
    align-items: center;
    width: 100%;
    max-width: 38rem;
  }

  .request .form-group:nth-child(3) {
    width: 100%;
  }

  .footer__head {
    padding: 3rem 0;
  }

  .footer__menu {
    grid-template-columns: 1fr auto auto;
    gap: 2rem 3rem;
  }

  .footer__menu-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .footer__menu-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .footer__menu-item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .footer__menu-item:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .footer__menu-list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .footer__menu-title {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  .footer__menu-link {
    font-size: 1.4rem;
  }

  .footer__info {
    grid-column: 3/4;
  }

  .footer__body {
    padding: 2rem 0;
  }

  .footer__body-logo {
    height: 4rem;
  }

  .footer__body-title {
    font-size: 2.5rem;
  }

  .footer__body-text {
    font-size: 1.4rem;
  }

  .planshet-block {
    display: flex !important;
  }

  .footer__info-download {
    text-align: left;
  }

  .footer__foot {
    // padding-bottom: 6.4rem;
  }

  .warning {
    bottom: 3rem;
  }

  .warning__inner {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }

  .warning__text {
    font-size: 1.2rem;
    text-align: center;
  }

  .warning__btn {
    height: 5rem;
    max-width: 30rem;
  }

  /* 404 */
  .notfound {
    margin: 3rem 0 6rem;
  }

  .notfound__inner {
    flex-direction: column;
    gap: 3rem;
  }

  .notfound__content {
    gap: 1rem;
  }

  .notfound__title {
    font-size: 20rem;
    line-height: 120%;
  }

  .notfound__text {
    font-size: 3.5rem;
  }

  .notfound__img {
    width: 100%;
    height: auto;
  }

  .tag:hover {
    font-size: 22px;
  }

  .extraBig {
    font-size: 22px;
  }

  .big {
    font-size: 18px;
  }

  .mid {
    font-size: 14px;
  }

  .small {
    font-size: 10px;
  }

  .extraSmall {
    font-size: 10px;
  }

  /* privacy */
  .privacy .title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .privacy__download {
    font-size: 1.4rem;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .privacy__download i {
    font-size: 2rem;
  }

  .privacy h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .privacy p {
    font-size: 1.4rem;
  }

  .privacy p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  /* breadcrumbs */
  .breadcrumbs {
    margin: 2rem 0;
  }

  .breadcrumbs ul {
    gap: 0.5rem;
  }

  .breadcrumbs li {
    gap: 0.5rem;
  }
}

@media (max-width: 660px) {}

@media (max-width: 600px) {
  .wrapper {
    padding-top: 9.9rem;
  }

  #modal-calc .modal__box {
    margin: 0;
    width: 100%;
    padding-bottom: 11rem;
  }

  .calc__container {
    padding: 0;
  }

  .mob-block {
    display: flex !important;
  }

  .modal .form-group,
  .form-group {
    width: 100%;
  }

  .modal .form-btn,
  .form-btn {
    width: 100%;
  }

  .modal .form-bottom,
  .form-bottom {
    width: 100%;
    margin: 0;
  }

  .modal .form-btn {
    width: 100%;
  }

  .menu__head {
    display: block;
  }

  .menu__inner {
    padding: 8.4rem 0 0;
  }

  .menu__head-wrap {
    display: none;
    padding: 1rem 2rem;
  }

  .menu__body.down {
    margin-top: 31rem;
  }

  .head {
    height: 9.9rem;
  }

  .head--active {
    height: 6.4rem;
  }

  .menu .header__btn {
    display: flex;
  }

  .header {
    padding: 1rem 0;
  }

  .head .header__btn {
    display: none;
  }

  .nav__list-link {
    height: 3.5rem;
  }

  .hero {
    margin: 0;
  }

  .hero__item {
    padding: 3rem 0 1.5rem;
    max-width: 100%;
    // height: fit-content;
  }

  .hero__item-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .hero__item-title span {
    font-size: 3rem;
  }

  .hero__item-btn {
    // margin-bottom: 27.2rem;
    margin-bottom: 21.2rem;
    height: 5rem;
  }

  .hero__slider-item {
    padding: 0;
  }

  .hero__blocks {
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .hero__block:nth-child(1) {
    max-width: 100%;

    .hero__block-title::before {
      content: "1.";
    }
  }

  .hero__block:nth-child(2) {
    max-width: 100%;

    .hero__block-title::before {
      content: "2.";
    }
  }

  .hero__block:nth-child(3) {

    .hero__block-title::before {
      content: "3.";
    }
  }

  .hero__block:nth-child(4) {

    .hero__block-title::before {
      content: "4.";
    }
  }

  .hero__block-count {
    display: none;
  }

  .hero__block-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &::before {
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 1.25;
      color: var(--primary-accent);
    }
  }

  .hero__item-down {
    display: none;
  }

  .hero__img {
    width: 25rem;
    height: 26.9rem;
    right: 6rem;
    bottom: 3.5rem;

    &.flag,
    &.cube {
      width: 30rem;
      height: 20rem;
    }
  }

  .canvas-wrap.hero__img {
    // display: none;
  }

  .hero__bg-small {
    background-image: url(./../images/main/hero-bg-mob-small.png);
  }

  .swiper-progress {
    background-color: var(--primary-bg);
  }

  .swiper .swiper-horizontal>.swiper-pagination-bullets,
  .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper .swiper-pagination-custom,
  .swiper .swiper-pagination-fraction {
    top: unset;
    bottom: 1rem;
    background-color: var(--primary-black-lighten);
    height: 1.4rem;
  }

  .swiper-pagination-bullet {
    width: 0.4rem;
    height: 0.4rem;
  }

  .swiper-pagination-bullet-active {
    width: 0.8rem;
    height: 0.8rem;
  }

  .fraction {
    width: 8rem;
    bottom: 2.4rem;
    font-size: 2.4rem;
    padding: 2rem 0;
  }

  .fraction-current {
    font-size: 5rem;
  }

  // .menu .header__btn {
  //   display: flex;
  // }

  .feat__item {
    width: calc(50% - 0.5rem);
  }

  .transport__item {
    width: calc(50% - 0.5rem);
    padding: 2rem;
  }

  .about__content {
    flex-direction: column;
    gap: 2rem;
  }

  .about__img {
    width: 100%;
    height: auto;
  }

  .about__content-text {
    width: 100%;
  }

  .about__feat {
    display: flex;
    flex-direction: column;
  }

  .about__feat-text {
    font-size: 1.4rem;
  }

  .work__blocks {
    flex-direction: column;
  }

  .work__block {
    width: 100%;
  }

  .work__items {
    width: 100%;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 0 2rem;
  }

  .work__items::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .work .swiper-slide {
    width: 26.2rem !important;
    min-width: 26.2rem !important;
    height: auto;
  }

  .work__item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .work .swiper-slide-active {
    width: 26.2rem !important;
  }

  .work .swiper-slide-active .work__item-content {
    // background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) -34.23%, rgba(255, 255, 255, 0) 100%), var(--primary-black);
    background: transparent;
  }


  .work .swiper-slide-active .work__item-count {
    background-color: var(--primary-accent);
  }

  .work .swiper-slide-active .work__item::before {
    width: 100%;
    transition-delay: 0.1s;
  }

  .work__item::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: var(--primary-black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .work .swiper-slide-active .work__item-title {
    color: var(--white);
    transition-delay: 0.1s;
  }

  .work .swiper-slide-active .work__item-text {
    color: var(--white);
    transition-delay: 0.1s;
  }

  .work__item-content {
    width: 26.2rem;
    z-index: 2;
    background: transparent;
  }

  .banner {
    flex-direction: column-reverse;
    height: auto;
    padding: 3rem 2rem;
  }

  .banner::before {
    position: relative;
    margin-bottom: -7.9rem;
    margin-left: 2rem;
  }

  .banner__inner {
    max-width: 100%;
  }

  .banner__title {
    margin-bottom: 2rem;
  }

  .banner__text {
    margin-bottom: 2rem;
  }

  .case__content {
    flex-direction: column-reverse;
  }

  .case__img {
    height: auto;
    width: 100%;
    aspect-ratio: 313/297;
  }

  .case__acc.active .case__content {
    padding: 0.2rem 2rem 2rem;
    gap: 1.5rem;
  }

  .transport__items {
    margin-bottom: 0;
  }

  .cloud {
    display: none;
  }

  .partner .section__title {
    margin: 0;
  }

  .partner__head {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .partner .section__head {
    width: 100%;
  }

  .partner__head-item {
    padding: 0;
    width: 100%;
  }

  .partner__item {
    width: 50%;
    min-width: 50%;
    height: 9.6rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-900%);
    }
  }

  .faq__items {
    gap: 1.5rem;
  }

  .request__container {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }

  .footer__menu {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }

  .footer__menu-item:nth-child(1) {
    grid-row: 1/2;
  }

  .footer__menu-item:nth-child(2) {
    grid-row: 1/4;
  }

  .footer__menu-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer__menu-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .footer__menu-title {
    color: inherit;
    text-transform: capitalize;
    white-space: normal;
  }

  .footer__info {
    grid-column: 1/3;
    grid-row: 4/5;
    align-items: flex-start;
  }

  .footer__info-download {
    flex-direction: row-reverse;
  }

  .footer__info-btn {
    gap: 2rem;
  }

  .footer .header__btn {
    display: flex;
    width: 100%;
    height: 6rem;
  }

  .footer .header__btn-head {
    width: 100%;
  }

  .footer .header__btn-icon {
    top: 1.8rem;
  }

  .footer__info-btn {
    height: 6rem;
  }

  .modal__btn i {
    font-size: 3.2rem;
  }

  .footer__body {
    flex-direction: column-reverse;
  }

  .footer__body-logo {
    width: 100%;
    height: auto;
  }

  .footer__body-item {
    text-align: left;
  }

  .footer__body-title {
    // font-size: 3.4rem;
    font-size: 2.4rem;
  }

  .footer__body-text {
    font-size: 1.6rem;
  }

  .footer .header__icons-item {
    background-color: var(--primary-accent);
  }

  .footer__info-link {
    text-align: left;
  }

  /* 404 */
  .notfound {
    margin: 4rem 0 2rem;
  }

  .notfound__inner {
    gap: 2rem;
  }

  .notfound__content {
    gap: 2rem;
  }

  .notfound__title {
    font-size: 10rem;
    line-height: 72%;
  }

  .notfound__text {
    font-size: 3rem;
  }

  .tag-cloud {
    display: none;
  }
}

@media (max-width: 480px) {}

@media (max-width: 360px) {

  .menu__list-wrap {
    gap: 1rem;
  }

  .hero__item-title {
    word-break: break-word;
  }

  .hero__img {
    right: 50%;
    transform: translateX(50%);
  }

  .hero__img.cube {
    right: 5%;
    transform: unset;
  }

  .hero__img.flag {
    right: 12%;
  }

  // .footer .header__btn-head {
  //   gap: 1rem;
  //   padding: 1rem 1.3rem 1rem 1rem;
  // }

  // .header__btn-wrap {
  //   gap: 0.5rem;
  // }

  .footer__info-btn {
    --button-padding-x: 1rem;
  }

  .transport__item-title {
    word-break: break-word;
  }

  .privacy .title {
    font-size: 2.4rem;
  }
}