:root {
    /* color */
    --primary-accent: #C62826;
    --primary-black: #2A2626;
    --primary-black-20: #2A262633;
    --primary-black-50: #2A262680;
    --primary-black-lighten: #2A2A2C;
    --primary-white: #E7E5EE;
    --primary-white-10: #E7E5EE1A;
    --primary-white-lighten: #F2F3FA;
    --primary-bg: #F8F8F8;
    --white: #ffffff;
    --white-10: #ffffff1a;
    --white-90: #ffffffe6;
    --black: #000000;
    --primary-border-c-1: #2A2A2C1A;
    --primary-border-c-2: #2A2A2C80;
    /* border-radius */
    --primary-border-r-5: 0.5rem;
}