/* dropdown */
.dropdown {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 125%;
    color: var(--primary-black-50);
    cursor: pointer;
    text-align: left;
    width: 100%;
    height: 6rem;
    padding: 1.4rem 3.2rem 1.4rem 2rem;
    background: var(--primary-bg);
    border-radius: var(--primary-border-r-5);
    border: 0.1rem solid var(--primary-border-c-1);
    transition: all 0.3s ease;

    &:hover {
      color: inherit;
      background-color: var(--white);
    }

    &--active {
      background-color: var(--white);
      border-radius: var(--primary-border-r-5) var(--primary-border-r-5) 0 0;
      line-height: 100%;
      padding: 1.4rem 3.2rem 1.5rem 2rem;
    }

    &-text {
      pointer-events: none;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.4rem;
      height: 2.4rem;
      font-size: 0.6rem;
      line-height: 100%;
      color: var(--white);
      transition: all 0.3s ease;
    }
  }

  &__list {
    display: none;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0 2rem 2rem;
    background: var(--white);
    border-radius: 0 0 var(--primary-border-r-5) var(--primary-border-r-5);
    position: absolute;
    top: calc(100% - 0.2rem);
    left: 0;
    z-index: 1001;
    list-style-type: none;
    color: var(--primary-black);
    overflow: hidden;
    overflow-y: scroll;

    &-border {
      border: 0.1rem solid var(--primary-border-c-1);
    }

    &-item {
      font-weight: 800;
      font-size: 1.6rem;
      line-height: 100%;
      color: var(--primary-black-lighten);
      padding: 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &--active {
        color: var(--primary-accent);
      }

      &:hover {
        color: var(--primary-accent);
      }
    }

    &--visible {
      display: block;
      border-top: none;
      z-index: 1;
    }

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-grey);
      border-radius: 2rem;
      border: 0 solid var(--primary-black);
    }
  }

  &__input-hidden {
    display: none;
  }
}