.dropdown {
  background: transparent;
  position: relative;
  user-select: none;
  transition: all 0.2s ease;
  width: 100%;
  height: 6rem;

  &-form {}

  &__selected {
    display: flex;
    align-items: center;
    background: var(--primary-bg);
    border-radius: var(--primary-border-r-5);
    border: 0.1rem solid var(--primary-border-c-1);
    transition: all 0.3s ease;
    // padding: 1.4rem 3.2rem 1.4rem 2rem;
    padding: .5rem 3.2rem .5rem 2rem;

    z-index: 9;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;

    font-weight: 800;
    font-size: 1.6rem;
    line-height: 125%;
    color: var(--primary-black-50);

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      color: var(--primary-black);
      border-color: var(--primary-black-lighten);
      background-color: var(--white);
    }

    p {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1;
      color: var(--primary-accent);
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      position: absolute;
      top: 0;
      right: 1.3rem;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      font-size: 0.8rem;
      color: var(--white);
      transition: all 0.2s ease;
      transform: rotateZ(0deg);
      background-color: var(--primary-accent);
    }

    // .dropdown.is-active & {

    //   i {
    //     transform: rotateZ(180deg);
    //     background-color: var(--primary-black);
    //   }
    // }
  }

  &:hover {

    i {
      transform: rotateZ(180deg);
      background-color: var(--primary-black);
    }
  }

  &.is-active .dropdown__selected {
    color: var(--primary-black);
    border-color: var(--primary-black-lighten);
    background-color: var(--white);
    border-bottom: 0;
    border-radius: var(--primary-border-r-5) var(--primary-border-r-5) 0 0;
    padding-bottom: 1.6rem;
  }

  &__container {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    overflow: hidden;
    pointer-events: none;

    .dropdown.is-active & {
      pointer-events: all;
    }
  }

  &__content {
    border: 0.1rem solid transparent;
    border-top: 0;
    padding-bottom: 1.8rem;
    will-change: transform;
    transform: translateY(-101%);
    transition: transform 0.2s ease;
    background-color: var(--white);
    border-radius: 0 0 var(--primary-border-r-5) var(--primary-border-r-5);

    width: calc(100% - 0.1rem);

    .dropdown.is-active & {
      transform: translateY(0);
      border-color: var(--primary-black);
    }
  }

  &__option {
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 125%;

    &:first-child {

      .dropdown__label {
        padding: 0rem 3.2rem 0.8rem 2rem;
      }
    }
  }

  &__label {
    display: block;
    padding: 1rem 1.3rem;
    cursor: pointer;
    padding: 0.8rem 3.2rem 0.8rem 2rem;

    &:hover {
      color: var(--primary-accent);
    }

    :checked+& {
      color: var(--primary-accent);
    }
  }

  &__radio {
    display: none;
  }
}