.head {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--primary-black);
  padding: 2rem 0;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  &__logo {
    width: auto;
    height: 6rem;
    object-fit: contain;
    flex-shrink: 0;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__btn {
    width: fit-content;
    height: 6rem;
    position: relative;
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--white);
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s ease;

    &-flip {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100%;
      padding: 1rem 1.3rem 1rem 2rem;
      border: 0.1rem solid var(--primary-white-10);
      border-radius: var(--primary-border-r-5);
      transition: all 0.3s ease;
      transform: translateY(0) rotateX(0);
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &:hover {

      .header__btn-flip {
        transform: translateY(-50%) rotateX(90deg);
      }

      .header__dropdown {
        top: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: var(--white);
    border-radius: var(--primary-border-r-5);

    &-item {
      display: grid;
      grid-template-columns: 1fr auto 2.4rem;
      grid-template-rows: 1fr auto;
      justify-content: space-between;
      gap: 0 1rem;
      padding: 1rem 1.3rem 1rem 2rem;
      color: var(--primary-black);

      &:first-child {
        .arrow {
          transform: rotate(180deg);
        }
      }

      &:last-child {
        .header__dropdown-link {
          white-space: wrap;
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 800;
      font-size: 1.4rem;
      color: inherit;
      grid-column: 1/2;
      grid-row: 1/2;
      transition: all 0.3s ease;

      &:hover {
        color: var(--primary-accent);
      }
    }

    &-title {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 800;
      font-size: 1.4rem;
      color: inherit;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &-text {
      font-weight: 300;
      font-size: 1.4rem;
      color: inherit;
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &-icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--primary-accent);
      overflow: hidden;

      i {
        font-size: 2.4rem;
        line-height: 100%;
        color: var(--white);
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--primary-accent);
      overflow: hidden;

      i {
        font-size: 2.4rem;
        line-height: 100%;
        color: var(--white);
      }
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;

  i {
    font-size: 1.4rem;
    line-height: 100%;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: 6rem;
  padding: 1rem 2rem;
  background-color: transparent;
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: 0.1rem solid var(--primary-white-10);
  border-radius: var(--primary-border-r-5);

  &:hover {
    border-color: var(--white);

    span {
      background-color: var(--white);

      &::before,
      &::after {
        background-color: var(--white);
      }
    }
  }

  &--opened {

    &.burger span {
      background-color: var(--white);

      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--white);
      }

      &::after {
        top: 50%;
        bottom: unset;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--white);
      }
    }
  }

  &__text {
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  span {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--primary-accent);
    transition: all 0.3s ease;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;
      background-color: var(--primary-accent);
      position: absolute;
      top: -0.9rem;
      transition: all 0.3s ease;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;
      background-color: var(--primary-accent);
      position: absolute;
      bottom: -0.9rem;
      transition: all 0.3s ease;
    }
  }
}

.nav {
  background-color: var(--primary-accent);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &-link {
      font-weight: 800;
      font-size: 1.4rem;
      color: var(--white);
      padding: 1.5rem 0;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0.1rem;
        background-color: var(--white);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all 0.3s ease;
      }

      &::after {
        content: "";
        display: block;
        height: 0.7rem;
        border: 0.4rem solid transparent;
        border-bottom: 0.7rem solid var(--white);
        position: absolute;
        left: 50%;
        bottom: -100%;
        transform: translateX(-50%);
        transition: all 0.2s ease;
      }

      &:hover {

        &::before {
          width: 100%;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2.6rem;

      &::before {
        content: "";
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background-color: var(--white);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}