@font-face {
  font-family: 'CmlIconFont';
  src:  url('./../fonts/icomoon/CmlIconFont.eot?hl09q7');
  src:  url('./../fonts/icomoon/CmlIconFont.eot?hl09q7#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon/CmlIconFont.ttf?hl09q7') format('truetype'),
    url('./../fonts/icomoon/CmlIconFont.woff?hl09q7') format('woff'),
    url('./../fonts/icomoon/CmlIconFont.svg?hl09q7#CmlIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CmlIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-max-color:before {
  content: "\e900";
}
.icon-max-big:before {
  content: "\e901";
}
.icon-max:before {
  content: "\e902";
}
.icon-wchat:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e905";
}
.icon-angle:before {
  content: "\e906";
}
.icon-calc:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-circle-chevron-down:before {
  content: "\e909";
}
.icon-file-pdf:before {
  content: "\e90a";
}
.icon-headphones:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-pochta:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-telegram-color:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e913";
}
.icon-whatsapp-color:before {
  content: "\e914";
}
