@font-face {
  font-family: 'CML';
  src: url('./../fonts/icomoon/CML.eot?e7owgd');
  src: url('./../fonts/icomoon/CML.eot?e7owgd#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon/CML.ttf?e7owgd') format('truetype'),
    url('./../fonts/icomoon/CML.woff?e7owgd') format('woff'),
    url('./../fonts/icomoon/CML.svg?e7owgd#CML') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CML' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle:before {
  content: "\e900";
}

.icon-calc:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\e902";
}

.icon-circle-chevron-down:before {
  content: "\e903";
}

.icon-download:before {
  content: "\e904";
}

.icon-file-pdf:before {
  content: "\e905";
}

.icon-headphones:before {
  content: "\e906";
}

.icon-minus:before {
  content: "\e907";
}

.icon-plus:before {
  content: "\e908";
}

.icon-pochta:before {
  content: "\e909";
}

.icon-telegram:before {
  content: "\e90a";
}

.icon-whatsapp:before {
  content: "\e90b";
}