:root {
  /* color */
  --primary-accent: #C62826;
  --primary-black: #2A2626;
  --primary-black-50: #2A262680;
  --primary-black-lighten: #2A2A2C;
  --primary-white: #E7E5EE;
  --primary-white-10: #E7E5EE1A;
  --primary-white-lighten: #F2F3FA;
  --primary-bg: #F8F8F8;
  --white: #ffffff;
  --white-10: #ffffff1a;
  --black: #000000;
  --primary-border-c-1: #2A2A2C1A;
  --primary-border-c-2: #2A2A2C80;
  /* border-radius */
  --primary-border-r-5: 0.5rem;
}

@font-face {
  font-family: "Gilroy";
  src: url(./../fonts/Gilroy-ExtraBold.woff2), url(./../fonts/Gilroy-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./../fonts/Gilroy-Light.woff2), url(./../fonts/Gilroy-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  border-radius: unset;
  border: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/* libs styles */
.swiper-progress {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: var(--primary-black);
}
.swiper-progress::before {
  content: "";
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-accent);
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}
.swiper-slide-active .swiper-progress::before {
  animation-name: timeline;
}
.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 13rem;
  height: fit-content;
  padding: 2.5rem 0;
  background-color: var(--primary-accent);
  font-weight: 300;
  font-size: 5rem;
  line-height: 100%;
  vertical-align: bottom;
  position: absolute;
  top: unset;
  bottom: 1rem;
  right: 0;
  left: unset;
  z-index: 1;
}
.swiper-pagination-current {
  font-size: 10rem;
  line-height: 80%;
}

@keyframes timeline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);
}
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 120%;
  color: var(--primary-black);
  background: var(--primary-bg);
}

section {
  margin-bottom: 5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 192rem;
  width: 100%;
  padding: 0 13rem;
  margin: 0 auto;
}

.container-fluid {
  max-width: 192rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
  height: 100dvh !important;
}

.suptitle {
  font-weight: 300;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.title {
  font-weight: 800;
  font-size: 4.5rem;
  text-transform: uppercase;
}
.title span {
  color: var(--primary-accent);
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.125;
}

a {
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
}

/* buttons */
.btn {
  --button-padding-x: 2rem;
  --button-padding-y: 1rem;
  --button-font-size: 1.4rem;
  --button-color: var(--primary-black);
  --button-bgcolor: var(--white);
  --button-border-color: var(--white);
  --button-disabled-opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 6rem;
  font-weight: 800;
  font-size: var(--button-font-size);
  text-align: center;
  text-transform: uppercase;
  color: var(--button-color);
  padding: var(--button-padding-y) var(--button-padding-x);
  border: 0.1rem solid var(--button-border-color);
  border-radius: var(--primary-border-r-5);
  background-color: var(--button-bgcolor);
  transition: all 0.3s ease;
}

.btn:hover {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-accent);
  --button-border-color: var(--primary-accent);
}

.btn:disabled {
  opacity: var(--button-disabled-opacity);
}

.btn-red {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-accent);
  --button-border-color: var(--primary-accent);
}

.btn-red:hover {
  --button-bgcolor: var(--primary-black);
  --button-border-color: var(--primary-black);
}

.btn-outline {
  --button-color: var(--primary-black);
  --button-bgcolor: transparent;
  --button-border-color: var(--primary-black-50);
}

.btn-outline:hover {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-accent);
  --button-border-color: var(--primary-accent);
}

.btn-calc {
  gap: 2rem;
}
.btn-calc span {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(./../images/icon/calc.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 0.3s ease;
}
.btn-calc:hover span {
  background-image: url(./../images/icon/calc-white.svg);
}

.mob-block {
  display: none;
}

/* form-input */
.error {
  display: none;
  font-size: 1rem;
  line-height: 200%;
  padding-left: 2rem;
  color: var(--primary-accent);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.checkbox__text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.16;
  color: var(--white-50);
  max-width: 30rem;
}
.checkbox__text a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.checkbox__text a:hover {
  color: var(--primary-accent);
}

.dots::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-accent);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.form-group {
  position: relative;
  width: calc(33% - 1.3333rem);
}
.form-input {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 125%;
  color: inherit;
  width: 100%;
  height: 6rem;
  padding: 1.4rem 3.2rem 1.4rem 2rem;
  background: var(--primary-bg);
  border-radius: var(--primary-border-r-5);
  border: 0.1rem solid var(--primary-border-c-1);
  transition: all 0.3s ease;
}
.form-input::placeholder, .form-input::-webkit-input-placeholder, .form-input::-moz-placeholder, .form-input:-moz-placeholder, .form-input:-ms-input-placeholder {
  color: var(--primary-black-50);
}
.form-input::placeholder {
  transition: all 0.3s ease;
}
.form-input:hover, .form-input:focus, .form-input:active {
  color: var(--primary-black);
  border-color: var(--primary-black-lighten);
}
.form-input:hover::placeholder, .form-input:focus::placeholder, .form-input:active::placeholder {
  color: var(--primary-black);
}
.form-input:invalid {
  color: var(--primary-accent);
  border-color: var(--primary-accent);
}
.form-input:invalid ~ .error {
  display: block;
}
.form-textarea {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 125%;
  color: inherit;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  padding: 1.2rem 2.2rem;
  background: var(--primary-bg);
  border-radius: var(--primary-border-r-5);
  border: 0.1rem solid var(--primary-border-c-1);
  resize: none;
  transition: all 0.3s ease;
}
.form-textarea::placeholder, .form-textarea::-webkit-input-placeholder, .form-textarea::-moz-placeholder, .form-textarea:-moz-placeholder, .form-textarea:-ms-input-placeholder {
  color: var(--primary-black-50);
}
.form-textarea::placeholder {
  transition: all 0.3s ease;
}
.form-textarea:hover, .form-textarea:focus, .form-textarea:active {
  color: var(--primary-black);
  border-color: var(--primary-black-lighten);
}
.form-textarea:hover::placeholder, .form-textarea:focus::placeholder, .form-textarea:active::placeholder {
  color: var(--primary-black);
}
.form-btn {
  width: 100%;
}
.form-checkbox {
  width: 2.4rem;
  min-width: 2.4rem;
  height: 2.4rem;
  min-height: 2.4rem;
  padding: 0;
  border: 0.4rem solid var(--primary-black);
  border-radius: 50%;
  background: var(--white);
  appearance: none;
  position: relative;
  cursor: pointer;
}
.form-checkbox:checked {
  background: var(--primary-accent);
}
.form-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.form-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 115%;
  text-decoration-line: underline;
  color: inherit;
  max-width: 48rem;
}
.form-text a {
  color: var(--primary-accent);
}

.section__head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section__suptitle {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 120%;
  text-transform: uppercase;
}
.section__title {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.section__title span {
  color: var(--primary-accent);
}

/* component styles */
.head {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--primary-black);
  padding: 2rem 0;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.header__logo {
  width: auto;
  height: 6rem;
  object-fit: contain;
  flex-shrink: 0;
}
.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__wrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: 6rem;
  padding: 1rem 1.3rem 1rem 2rem;
  border: 0.1rem solid var(--primary-white-10);
  border-radius: var(--primary-border-r-5);
  position: relative;
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
}
.header__btn-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__btn:hover {
  overflow: visible;
}
.header__btn:hover .header__dropdown {
  top: 0;
}
.header__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease;
  background-color: var(--white);
  border-radius: var(--primary-border-r-5);
}
.header__dropdown-item {
  display: grid;
  grid-template-columns: 1fr auto 2.4rem;
  grid-template-rows: 1fr auto;
  justify-content: space-between;
  gap: 0 1rem;
  padding: 1rem 1.3rem 1rem 2rem;
  color: var(--primary-black);
}
.header__dropdown-item:first-child .arrow {
  transform: rotate(180deg);
}
.header__dropdown-item:last-child .header__dropdown-link {
  white-space: wrap;
}
.header__dropdown-link {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 800;
  font-size: 1.4rem;
  color: inherit;
  grid-column: 1/2;
  grid-row: 1/2;
  transition: all 0.3s ease;
}
.header__dropdown-link:hover {
  color: var(--primary-accent);
}
.header__dropdown-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 800;
  font-size: 1.4rem;
  color: inherit;
  grid-column: 1/2;
  grid-row: 1/2;
}
.header__dropdown-text {
  font-weight: 300;
  font-size: 1.4rem;
  color: inherit;
  grid-column: 1/2;
  grid-row: 2/3;
}
.header__dropdown-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  grid-column: 2/3;
  grid-row: 1/2;
}
.header__dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary-accent);
  overflow: hidden;
}
.header__dropdown-icon i {
  font-size: 2.4rem;
  line-height: 100%;
  color: var(--white);
}
.header__icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
.header__icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary-accent);
  overflow: hidden;
}
.header__icons-item i {
  font-size: 2.4rem;
  line-height: 100%;
  color: var(--white);
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
}
.arrow i {
  font-size: 1.4rem;
  line-height: 100%;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: 6rem;
  padding: 1rem 2rem;
  background-color: transparent;
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: uppercase;
  transition: all 0.3s ease;
  border: 0.1rem solid var(--primary-white-10);
  border-radius: var(--primary-border-r-5);
}
.burger:hover {
  border-color: var(--white);
}
.burger:hover span {
  background-color: var(--white);
}
.burger:hover span::before, .burger:hover span::after {
  background-color: var(--white);
}
.burger--opened.burger span {
  background-color: var(--white);
}
.burger--opened.burger span::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--white);
}
.burger--opened.burger span::after {
  top: 50%;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--white);
}
.burger__text {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
}
.burger span {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--primary-accent);
  transition: all 0.3s ease;
}
.burger span::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-accent);
  position: absolute;
  top: -0.9rem;
  transition: all 0.3s ease;
}
.burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-accent);
  position: absolute;
  bottom: -0.9rem;
  transition: all 0.3s ease;
}

.nav {
  background-color: var(--primary-accent);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav__list-link {
  font-weight: 800;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1.5rem 0;
  overflow: hidden;
  position: relative;
}
.nav__list-link::before {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.nav__list-link::after {
  content: "";
  display: block;
  height: 0.7rem;
  border: 0.4rem solid transparent;
  border-bottom: 0.7rem solid var(--white);
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}
.nav__list-link:hover::before {
  width: 100%;
}
.nav__list-link:hover::after {
  bottom: 0;
}
.nav__list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.6rem;
}
.nav__list li::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--white);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
.footer {
  background-color: var(--primary-black);
  color: var(--white);
}
.footer__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27rem;
  padding: 5rem 0 4rem;
  border-bottom: 0.1rem solid var(--white-10);
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  width: 100%;
}
.footer__menu-list li:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__menu-title {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--primary-accent);
}
.footer__menu-link {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 110%;
  color: inherit;
  text-decoration: none;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__menu-link.accent-text {
  color: var(--primary-accent);
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 6/7;
}
.footer__info .header__btn {
  margin-bottom: 1.5rem;
}
.footer__info-btn {
  width: 100%;
  margin-bottom: 3rem;
}
.footer__info-download {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  margin-bottom: 3rem;
  cursor: pointer;
}
.footer__info-download i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: var(--primary-border-r-5);
  background-color: var(--white);
  font-size: 1.8rem;
  line-height: 100%;
  color: var(--primary-accent);
}
.footer__info-link {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  text-decoration-line: underline;
  color: var(--primary-accent);
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0 4rem;
}
.footer__body-logo {
  width: auto;
  height: 6rem;
  flex-shrink: 0;
}
.footer__body-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__body-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
}
.footer__body-title {
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 120%;
  color: var(--white);
}
.footer__body-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  color: var(--white);
}
.footer__foot {
  background-color: var(--primary-accent);
}
.footer__foot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
}
.footer__foot-text {
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--primary-white-lighten);
}
.footer__foot-text a {
  color: inherit;
}
.footer__foot-text a:hover {
  text-decoration: underline;
}

.menu {
  max-width: 81rem;
  width: 100%;
  height: 100dvh;
  background-color: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 100;
  transition: all 0.5s ease;
}
.menu.mobile-menu--opened {
  right: 0;
}
.menu.mobile-menu--opened .menu__overlay {
  opacity: 1;
  visibility: visible;
}
.menu__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 101;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.menu .container {
  padding: 0 9rem 0 14rem;
}
.menu .header__btn {
  justify-content: space-between;
  width: 100%;
  color: var(--primary-black);
  border-color: var(--primary-black-50);
}
.menu .header__dropdown {
  width: 100%;
  border: 0.1rem solid var(--primary-black-50);
}
.menu .burger {
  color: var(--primary-black);
  border-color: var(--primary-black-50);
}
.menu .burger span {
  background-color: transparent;
}
.menu .burger span::before,
.menu .burger span::after {
  background-color: var(--primary-black);
  transition: all 0.5s ease;
}
.menu .burger--opened.burger span {
  background-color: transparent;
}
.menu .burger span::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--primary-accent);
}
.menu .burger span::after {
  top: 50%;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--primary-accent);
}
.menu__inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2rem;
  background-color: var(--white);
  position: relative;
  z-index: 102;
  height: 100%;
  overflow-y: scroll;
}
.menu__list-item {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--primary-black-50);
}
.menu__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
.menu__list-item.active i {
  transform: scale(-1, -1);
}
.menu__list-item.active .menu__list-content {
  grid-template-rows: 1fr;
  margin-top: 1.5rem;
}
.menu__list-title, .menu__list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  color: inherit;
}
.menu__list-title:hover, .menu__list-link:hover {
  color: var(--primary-accent);
}
.menu__list-title i, .menu__list-link i {
  font-size: 2.2rem;
  color: var(--primary-accent);
  transition: all 0.3s ease;
}
.menu__list-wrap {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  transition: all 0.5s ease;
  overflow: hidden;
}
.menu__list-content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 0.5s ease;
}
.menu__list-content ul {
  width: fit-content;
}
.menu__list-content ul a {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 120%;
  color: inherit;
  transition: all 0.3s ease;
}
.menu__list-content ul a:hover {
  color: var(--primary-accent);
}
.menu__list-content li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.menu__head-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.menu__head-link {
  width: auto;
  height: 3rem;
  object-fit: contain;
}
.menu__head-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .header__logo {
  display: none;
}
.menu__body {
  flex: 1 0 auto;
}
.menu__foot {
  background-color: var(--primary-accent);
  color: var(--white);
  padding: 3rem 0 5rem;
  flex: 0 0 auto;
}
.menu__foot-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.menu__foot-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__foot-title {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  text-transform: uppercase;
}
.menu__foot-link {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 120%;
  color: inherit;
}
.menu__foot-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  margin-top: -0.5rem;
}
.menu__download {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.menu__download-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  cursor: pointer;
}
.menu__download-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: var(--primary-border-r-5);
  background-color: var(--white);
  font-size: 1.8rem;
  line-height: 100%;
  color: var(--primary-black);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.modal__title {
  color: var(--primary-accent);
  width: auto;
}
.modal__text {
  max-width: 36.7rem;
}
.modal__list .header__contact-item {
  padding: 0;
}
.modal__btn {
  cursor: pointer;
}
.modal__btn i {
  pointer-events: none;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal__box {
  background-color: var(--white);
  padding: 3rem 2rem;
  position: relative;
  max-width: 76.8rem;
  width: 90vw;
  height: fit-content;
  overflow: hidden;
  z-index: 1;
  margin: 3rem 1.5rem;
  box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform 0.2s;
}
.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.modal__close-btn::before {
  content: "";
  display: block;
  width: 3.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: var(--primary-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s ease;
}
.modal__close-btn::after {
  content: "";
  display: block;
  width: 3.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: var(--primary-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  transition: all 0.3s ease;
}
.modal__close-btn:hover::before, .modal__close-btn:hover::after {
  background-color: var(--primary-accent);
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__box {
  transform: scale(1);
  max-height: 100%;
  height: fit-content;
  overflow-y: scroll;
}
.modal#modal-social .modal__box {
  padding: 3rem 2rem;
  max-width: 42rem;
}
.modal__wrap {
  position: relative;
}
.modal .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal .form-textarea, .modal .form-input {
  color: var(--primary-black-50);
  border-color: var(--primary-black-50);
}
.modal .form-textarea::placeholder, .modal .form-input::placeholder {
  color: var(--primary-black-50);
}
.modal .form-textarea:hover, .modal .form-textarea:focus, .modal .form-textarea:active, .modal .form-input:hover, .modal .form-input:focus, .modal .form-input:active {
  color: var(--primary-black);
  border-color: var(--primary-black);
}
.modal .form-textarea:hover::placeholder, .modal .form-textarea:focus::placeholder, .modal .form-textarea:active::placeholder, .modal .form-input:hover::placeholder, .modal .form-input:focus::placeholder, .modal .form-input:active::placeholder {
  color: var(--primary-black);
}
.modal .form-textarea:invalid, .modal .form-input:invalid {
  color: var(--primary-accent);
  border-color: var(--primary-accent);
}
.modal .form-checkbox {
  border-color: var(--primary-black);
  background: transparent;
}
.modal .form-checkbox:checked {
  background-color: var(--primary-accent);
}
.modal .checkbox__text {
  color: var(--primary-black-50);
}
.modal .btn {
  width: 100%;
}
.modal .btn:hover {
  background-color: var(--primary-black);
  border-color: var(--primary-black);
  color: var(--white);
}

.plate {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  background-color: var(--primary-black);
  min-height: 6.4rem;
}
.plate__inner {
  padding: 0.7rem 1rem;
}
.plate__btns {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.plate__btn {
  --button-padding-y: 1.5rem;
  --button-padding-x: 1.5rem;
  text-transform: uppercase;
  width: 100%;
  height: 5rem;
  white-space: nowrap;
}

.warning {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  background-color: var(--primary-black);
  color: var(--white);
}
.warning__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem 7rem;
  padding: 2rem 0;
}
.warning__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  color: var(--white);
}
.warning__btn {
  text-transform: uppercase;
  max-width: 52rem;
  width: 100%;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  height: 6rem;
  padding: 1rem 1.3rem 1rem 2rem;
  background: transparent;
  border: 0.1rem solid var(--primary-white-10);
  color: var(--white);
  cursor: pointer;
  font-weight: 800;
  font-size: 1.4rem;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.dropdown__button-text {
  z-index: -1;
}
.dropdown__button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0.6rem;
  line-height: 100%;
  color: var(--white);
  transition: all 0.3s ease;
}
.dropdown__list {
  display: none;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 2rem 1.3rem;
  background: var(--primary-bg);
  box-shadow: 0 0.7rem 0.8rem rgba(176, 198, 225, 0.6);
  position: absolute;
  top: calc(100% - 0.4rem);
  left: 0;
  z-index: 1001;
  list-style-type: none;
  color: var(--primary-black);
  overflow: hidden;
  overflow-y: scroll;
}
.dropdown__list-border {
  border: var(--primary-black) 0.1rem solid;
}
.dropdown__list-item {
  padding: 0;
  cursor: pointer;
}
.dropdown__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
.dropdown__list-item--active {
  color: var(--primary-accent);
}
.dropdown__list--visible {
  display: block;
  border-top: none;
  z-index: 1;
}
.dropdown__list::-webkit-scrollbar {
  width: 0.4rem;
}
.dropdown__list::-webkit-scrollbar-track {
  background: transparent;
}
.dropdown__list::-webkit-scrollbar-thumb {
  background-color: var(--primary-grey);
  border-radius: 2rem;
  border: 0 solid var(--primary-black);
}
.dropdown__input-hidden {
  display: none;
}

/* main page */
.hero {
  color: var(--white);
  background-color: var(--primary-black);
  background-image: url(./../images/main/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.hero__slider-item {
  display: flex;
  gap: 5rem;
}
.hero__item {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.hero__item-title {
  font-weight: 800;
  font-size: 8rem;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.hero__item-title span {
  font-weight: 300;
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--primary-accent);
}
.hero__item-btn {
  margin-bottom: 6.4rem;
}
.hero__item-down {
  width: 5rem;
  height: 5rem;
}
.hero__item-down i {
  font-size: 5rem;
  line-height: 100%;
  color: var(--primary-accent);
}
.hero__img {
  width: calc(40% - 3rem);
  height: auto;
  object-fit: contain;
}
.hero__blocks {
  display: flex;
  gap: 6rem;
  margin-bottom: 3rem;
}
.hero__block {
  display: flex;
  gap: 3rem;
  width: calc(50% - 3rem);
}
.hero__block-count {
  font-size: 10rem;
  line-height: 100%;
  color: var(--primary-accent);
}
.hero__block-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__block-title {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 1.2;
}
.hero__block-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
}

.calc__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.calc__block {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.calc__head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 17rem;
  flex-shrink: 0;
}
.calc__head-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--primary-accent);
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
  color: var(--white);
  flex-shrink: 0;
}
.calc__head-text {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
}
.calc__body {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.feat__items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.feat__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 3rem;
  border: 0.1rem solid var(--primary-black);
  width: calc(20% - 1.6rem);
}
.feat__item-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.feat__item-title {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
}

.transport__items {
  display: flex;
  gap: 2rem;
}
.transport__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 3rem;
  width: calc(20% - 1.6rem);
  background-color: var(--white);
  transition: all 0.3s ease;
}
.transport__item:hover {
  background-color: var(--primary-accent);
}
.transport__item:hover .transport__item-title {
  color: var(--white);
}
.transport__item:hover .transport__item-list {
  color: var(--white);
}
.transport__item-title {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 120%;
  transition: all 0.3s ease;
}
.transport__item-list {
  transition: all 0.3s ease;
}
.transport__item-list li {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 120%;
}

.about {
  position: relative;
  background-color: var(--white);
}
.about::before {
  content: "";
  width: 25rem;
  height: 100%;
  background-color: var(--primary-accent);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.about__inner {
  padding: 4rem 0;
  width: calc(100% - 14rem);
}
.about__body {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
.about__img {
  width: auto;
  height: 60rem;
  object-fit: contain;
}
.about__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.about__content-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
  width: 40rem;
}
.about__content-text::before {
  content: "";
  display: block;
  width: 7.7rem;
  height: 7.7rem;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzciIGhlaWdodD0iNzciIHZpZXdCb3g9IjAgMCA3NyA3NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IHdpZHRoPSI0Ny4zODQ2IiBoZWlnaHQ9IjQ3LjM4NDYiIGZpbGw9IiMyQTI2MjYiLz4NCjxyZWN0IHg9IjI5LjYxNzIiIHk9IjI5LjYxNTIiIHdpZHRoPSI0Ny4zODQ2IiBoZWlnaHQ9IjQ3LjM4NDYiIGZpbGw9IiNDNjI4MjYiLz4NCjwvc3ZnPg0K);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 4rem;
}
.about__feat {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 8rem;
  border-left: 0.1rem solid var(--primary-black);
}
.about__feat-item {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.about__feat-count {
  font-weight: 800;
  font-size: 6rem;
  line-height: 120%;
  color: var(--primary-accent);
}
.about__feat-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 110%;
}

/* inner pages */
/* adaptive styles */
@media (min-width: 1921px) {
  html {
    font-size: calc(10px + 0 * (100vw - var(--refRes) * 1px) / var(--refRes));
  }
}
@media (max-width: 768px) {
  .calc__content {
    gap: 2rem;
  }
  .calc__block {
    flex-direction: column;
    gap: 1rem;
  }
  .calc__head {
    flex-direction: row;
    gap: 1rem;
    width: 15.4rem;
  }
  .calc__head-text {
    font-size: 1.6rem;
  }
  .calc__body {
    gap: 1rem;
  }
  .form-group {
    width: calc(50% - 0.5rem);
  }
  .form-btn {
    width: calc(50% - 0.5rem);
    height: 5rem;
  }
  .form-bottom {
    width: calc(50% - 0.5rem);
    margin: 0 0 0 auto;
  }
  .form-text {
    font-size: 1rem;
  }
  .form-input {
    font-size: 1.4rem;
    height: 5rem;
  }
  .form-textarea {
    font-size: 1.4rem;
  }
  .section__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .menu .container,
  .container {
    padding: 0 2rem;
  }
  .header__wrap > .btn {
    display: none;
  }
  .header {
    background-color: var(--primary-accent);
    padding: 1.8rem 0;
  }
  .header__logo {
    height: 3rem;
  }
  .header__btn {
    height: 4.4rem;
    border-color: var(--primary-white);
  }
  .header__icons-item {
    background-color: var(--primary-black);
  }
  .burger {
    height: 4.4rem;
    background-color: var(--white);
    color: var(--primary-accent);
  }
  .nav {
    display: none;
  }
  .menu {
    max-width: 100%;
  }
  .menu__head-container {
    flex-direction: column-reverse;
  }
  .menu__list-title,
  .menu__list-link {
    font-size: 2.4rem;
  }
  .menu__list-content ul a {
    font-size: 1.4rem;
  }
  .menu__foot {
    padding: 3rem 0;
  }
  .menu__foot-title {
    font-size: 1.4rem;
  }
  .menu__foot-link {
    font-size: 2.4rem;
  }
  .menu__inner {
    padding: 0;
    gap: 3rem;
  }
  .menu__head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-accent);
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 1rem 2rem;
  }
  .menu .header__logo {
    display: block;
    width: 12.4rem;
  }
  .menu .burger {
    background-color: var(--white);
    border-color: var(--white);
  }
  .menu__download-item i {
    width: 5rem;
    height: 5rem;
  }
  .menu__foot-container {
    gap: 2rem;
  }
  .menu__foot-text {
    font-size: 1.4rem;
  }
  .menu__download {
    gap: 1rem;
  }
  .menu__download-item {
    gap: 1rem;
    font-size: 1.4rem;
    width: calc(50% - 0.5rem);
  }
  .hero__blocks {
    flex-direction: column;
    gap: 3rem;
  }
  .hero__block {
    gap: 2rem;
    width: 100%;
  }
  .hero__block-wrap {
    gap: 1rem;
  }
  .hero__block-count {
    font-size: 6rem;
  }
  .hero__block-title {
    font-size: 1.6rem;
  }
  .hero__block-text {
    font-size: 1.4rem;
  }
  .hero__item-title span {
    font-size: 3rem;
  }
  .hero__item-title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  .feat__items {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .feat__item {
    width: calc(25% - 0.75rem);
    padding: 1rem;
  }
  .feat__item-title {
    font-size: 1.6rem;
  }
  .transport__items {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .transport__item {
    width: calc(25% - 0.75rem);
    padding: 2rem;
  }
  .transport__item-title {
    font-size: 1.6rem;
  }
  .transport__item-list li {
    font-size: 1.6rem;
  }
  .about::before {
    display: none;
  }
  .about__inner {
    width: 100%;
  }
  .about__body {
    flex-direction: column;
    gap: 2rem;
  }
  .about__img {
    height: 39.6rem;
  }
  .about__content {
    gap: 1rem;
  }
  .about__content-text::before {
    display: none;
  }
  .about__feat-count {
    font-size: 3.4rem;
  }
  .about__feat {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem 1rem;
    padding: 0;
    border: 0;
  }
  .about__feat-item {
    gap: 1rem;
  }
  .footer__head {
    padding: 3rem 0;
  }
  .footer__menu {
    grid-template-columns: 1fr auto auto;
    gap: 2rem 3rem;
  }
  .footer__menu-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .footer__menu-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .footer__menu-item:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer__menu-item:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer__menu-list li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .footer__menu-title {
    font-size: 1.4rem;
    white-space: nowrap;
  }
  .footer__menu-link {
    font-size: 1.4rem;
  }
  .footer__info {
    grid-column: 3/4;
  }
  .footer__body {
    padding: 2rem 0;
  }
  .footer__body-logo {
    height: 4rem;
  }
  .footer__body-title {
    font-size: 2.5rem;
  }
  .footer__body-text {
    font-size: 1.4rem;
  }
  .mob-block {
    display: block;
  }
}
@media (max-width: 600px) {
  .form-group {
    width: 100%;
  }
  .form-btn {
    width: 100%;
  }
  .form-bottom {
    width: 100%;
    margin: 0;
  }
  .header__btn {
    display: none;
  }
  .hero__item-title {
    font-size: 4rem;
  }
  .hero__item-title span {
    font-size: 3rem;
  }
  .menu .header__btn {
    display: flex;
  }
  .feat__item {
    width: calc(50% - 0.5rem);
  }
  .transport__item {
    width: calc(50% - 0.5rem);
    padding: 2rem;
  }
  .about__content {
    flex-direction: column;
    gap: 2rem;
  }
  .about__img {
    width: 100%;
    height: auto;
  }
  .about__content-text {
    width: 100%;
  }
  .about__feat {
    display: flex;
    flex-direction: column;
  }
  .about__feat-text {
    font-size: 1.4rem;
  }
  .footer__menu {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 1rem;
  }
  .footer__menu-item:nth-child(1) {
    grid-row: 1/2;
  }
  .footer__menu-item:nth-child(2) {
    grid-row: 1/4;
  }
  .footer__menu-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer__menu-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .footer__menu-title {
    color: inherit;
    text-transform: capitalize;
    white-space: normal;
  }
  .footer__info {
    grid-column: 1/3;
    grid-row: 4/5;
    align-items: flex-start;
  }
  .footer__info-download {
    flex-direction: row-reverse;
  }
  .footer .header__btn {
    display: flex;
    width: 100%;
  }
  .footer__body {
    flex-direction: column-reverse;
  }
  .footer__body-logo {
    width: 100%;
    height: auto;
  }
  .footer__body-item {
    text-align: left;
  }
  .footer__body-title {
    font-size: 3.4rem;
  }
  .footer__body-text {
    font-size: 1.6rem;
  }
}