<ul class="header__dropdown">
  <li class="header__dropdown-item">
    <div class="header__dropdown-wrap">
      <a class="header__dropdown-link" href="tel:+79538877200">+7-953-887-72-00</a>
      <p class="header__dropdown-text">Телефон для связи</p>
    </div>
  </li>
  <li class="header__dropdown-item">
    <div class="header__dropdown-social">
      <a class="header__dropdown-link" href="">
        <span class="header__dropdown-icon" href="/">
          <i class="icon-whatsapp"></i>
        </span>
        WhatsApp
      </a>
      <a class="header__dropdown-link" href="">
        <span class="header__dropdown-icon" href="/">
          <i class="icon-telegram"></i>
        </span>
        Telegram
      </a>
    </div>
  </li>
  <li class="header__dropdown-item">
    <div class="header__dropdown-wrap">
      <a class="header__dropdown-link underline" href="emailto:info@cml-company.ru">
        info@cml-company.ru
      </a>
      <p class="header__dropdown-text">Эл. почта</p>
    </div>
  </li>
  <li class="header__dropdown-item">
    <div class="header__dropdown-wrap">
      <p class="header__dropdown-title">
        Режим работы:
      </p>
      <p class="header__dropdown-text">
        пн – пт 10:00-18:00 по Новосибирску
        <br>
        обед 13:00-14:00
      </p>
    </div>
  </li>
</ul>