<!-- Подвал сайта -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__head">
        <div class="footer__menu">
          <div class="footer__menu-item">
            <ul class="footer__menu-list">
              <li>
                <a class="footer__menu-title" href="/">
                  О компании
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  История
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Отзывы
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Пресс-центр
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__menu-item">
            <ul class="footer__menu-list">
              <li>
                <a class="footer__menu-title" href="/">
                  Услуги
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Перевод платежей
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Поиск и проверка поставщиков
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Международные перевозки
                </a>
              </li>
              <li>
                <a class="footer__menu-link accent-text" href="/">
                  Авиа перевозки
                </a>
              </li>
              <li>
                <a class="footer__menu-link accent-text" href="/">
                  Авто перевозки
                </a>
              </li>
              <li>
                <a class="footer__menu-link accent-text" href="/">
                  Железнодорожные перевозки
                </a>
              </li>
              <li>
                <a class="footer__menu-link accent-text" href="/">
                  Контейнерные перевозки
                </a>
              </li>
              <li>
                <a class="footer__menu-link accent-text" href="/">
                  Сборные грузы
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Таможенное оформление
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Сертификация грузов
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Страхование грузов
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__menu-item">
            <ul class="footer__menu-list">
              <li>
                <a class="footer__menu-title" href="/">
                  Полезная информация
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Размеры контейнеров
                </a>
              </li>
              <li>
                <a class="footer__menu-link" href="/">
                  Справочник ВЭД
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__menu-item">
            <ul class="footer__menu-list">
              <li>
                <a class="footer__menu-title" href="/">
                  Реализованные проекты
                </a>
              </li>
              <li>
                <a class="footer__menu-title" href="/">
                  Партнёрам
                </a>
              </li>
              <li>
                <a class="footer__menu-title" href="/">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__info">
            <div class="header__btn">
              <div class="header__btn-flip">
                Свяжитесь с нами
                <div class="header__btn-wrap">
                  <div class="header__icons">
                    <div class="header__icons-item">
                      <i class="icon-telegram"></i>
                    </div>
                    <div class="header__icons-item">
                      <i class="icon-whatsapp"></i>
                    </div>
                    <div class="header__icons-item">
                      <i class="icon-pochta"></i>
                    </div>
                  </div>
                  <div class="arrow">
                    <i class="icon-chevron-down"></i>
                  </div>
                </div>
              </div>
              <ul class="header__dropdown">
                <li class="header__dropdown-item">
                  <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
                  <p class="header__dropdown-text">Отдел продаж</p>
                  <div class="header__dropdown-icons">
                    <div class="header__dropdown-icon">
                      <i class="icon-telegram"></i>
                    </div>
                    <div class="header__dropdown-icon">
                      <i class="icon-whatsapp"></i>
                    </div>
                  </div>
                  <div class="arrow">
                    <i class="icon-chevron-down"></i>
                  </div>
                </li>
                <li class="header__dropdown-item">
                  <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
                  <p class="header__dropdown-text">Поддержка клиентов</p>
                  <div class="header__dropdown-icons">
                    <div class="header__dropdown-icon">
                      <i class="icon-telegram"></i>
                    </div>
                    <div class="header__dropdown-icon">
                      <i class="icon-whatsapp"></i>
                    </div>
                  </div>
                </li>
                <li class="header__dropdown-item">
                  <a class="header__dropdown-link" href="/">pochta@cml.com</a>
                  <p class="header__dropdown-text">Эл. почта</p>
                  <div class="header__dropdown-icons">
                    <div class="header__dropdown-icon">
                      <i class="icon-pochta"></i>
                    </div>
                  </div>
                </li>
                <li class="header__dropdown-item">
                  <p class="header__dropdown-title" href="/">
                    Принимаем звонки
                    <br>
                    пн - пт с 8:30 до 17:30 по Москве
                  </p>
                </li>
              </ul>
            </div>
            <a class="footer__info-btn btn btn-calc" href="/">
              Рассчитайте стоимость
              <i class="icon-calc"></i>
            </a>
            <a class="footer__info-download">
              Скачать реквизиты компании
              <i class="icon-download"></i>
            </a>
            <a class="footer__info-link" href="/">
              Политика конфиденциальности
            </a>
          </div>
        </div>
      </div>
      <div class="footer__body">
        <a class="footer__body-logo" href="/">
          <img class="footer__body-img" src="./images/logo/logo.svg" alt="">
        </a>
        <div class="footer__body-item">
          <h6 class="footer__body-title">
            Новосибирск, ул Добролюбова, 16
          </h6>
          <p class="footer__body-text">
            Режим работы с 10:00 до 18:00 по будням
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__foot">
    <div class="container">
      <div class="footer__foot-inner">
        <p class="footer__foot-text">
          © 2025 CML COMPANY
        </p>
        <p class="footer__foot-text">
          Разработка и продвижение сайта -
          <a href="/">
            Once&Twice
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- Попап окна -->
<!--=include modal.html-->
<!-- Плашки -->
<!--=include plate.html-->
<!-- scipts -->
<script src="./libs/lenis/lenis.min.js"></script>
<script src="./libs/gsap/gsap.min.js" defer></script>
<script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
<script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="./libs/mixitup/mixitup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="./../libs/SVG3DTagCloud.global.js" defer></script>
<script src="./js/main.js" defer></script>
</body>

</html>