    <!-- Подвал сайта -->
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          
        </div>
      </div>
    </footer>
  </div>
  <!-- Попап окна -->
  <!--=include modal.html-->
  <!-- Плашки -->
  <!--=include plate.html-->
  <!-- scipts -->
  <script src="./libs/lenis/lenis.min.js"></script>
  <script src="./libs/gsap/gsap.min.js" defer></script>
  <script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
  <script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
  <script src="./libs/swiper/swiper-bundle.min.js" defer></script>
  <script src="./libs/mixitup/mixitup.min.js"></script>
  <script src="./js/main.js" defer></script>
</body>

</html>