<aside id="mobile-menu" class="menu">

  <div class="menu__inner">

    <div class="menu__head">
      <div class="container menu__head-container">
        <!-- <div class="menu__head-wrap">
          <a class="menu__head-link" href="/">
            <img class="menu__head-logo" src="./images/logo/logo-white.svg" alt="CML COMPANY">
          </a>
        </div> -->
        <div class="header__btn" href="/">
          Свяжитесь с нами
          <div class="header__btn-wrap">
            <div class="header__icons">
              <div class="header__icons-item">
                <i class="icon-telegram"></i>
              </div>
              <div class="header__icons-item">
                <i class="icon-whatsapp"></i>
              </div>
              <div class="header__icons-item">
                <i class="icon-pochta"></i>
              </div>
            </div>
            <div class="arrow">
              <i class="icon-chevron-down"></i>
            </div>
          </div>
          <ul class="header__dropdown">
            <li class="header__dropdown-item">
              <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
              <p class="header__dropdown-text">Отдел продаж</p>
              <div class="header__dropdown-icons">
                <div class="header__dropdown-icon">
                  <i class="icon-telegram"></i>
                </div>
                <div class="header__dropdown-icon">
                  <i class="icon-whatsapp"></i>
                </div>
              </div>
              <div class="arrow">
                <i class="icon-chevron-down"></i>
              </div>
            </li>
            <li class="header__dropdown-item">
              <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
              <p class="header__dropdown-text">Поддержка клиентов</p>
              <div class="header__dropdown-icons">
                <div class="header__dropdown-icon">
                  <i class="icon-telegram"></i>
                </div>
                <div class="header__dropdown-icon">
                  <i class="icon-whatsapp"></i>
                </div>
              </div>
            </li>
            <li class="header__dropdown-item">
              <a class="header__dropdown-link" href="/">pochta@cml.com</a>
              <p class="header__dropdown-text">Эл. почта</p>
              <div class="header__dropdown-icons">
                <div class="header__dropdown-icon">
                  <i class="icon-pochta"></i>
                </div>
              </div>
            </li>
            <li class="header__dropdown-item">
              <p class="header__dropdown-link" href="/">
                Принимаем звонки
                пн - пт с 8:30 до 17:30 по Москве
              </p>
            </li>
          </ul>
        </div>
        <button class="burger menu__close">
          <p class="burger__text">Закрыть</p>
          <span></span>
        </button>
      </div>
    </div>

    <div class="menu__body">
      <div class="container menu__body-container">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="/">
              Главная
            </a>
          </li>
          <li class="menu__list-item accordion">
            <span class="menu__list-title">
              Услуги
              <i class="icon-circle-chevron-down"></i>
            </span>
            <div class="menu__list-content">
              <div class="menu__list-wrap">
                <ul>
                  <li>
                    <a href="/">
                      Международные перевозки
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Таможенное оформление
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Сертификация грузов
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Страхование грузов
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Авиаперевозки
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Автомобильные перевозки
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Ж/Д перевозки
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Морские перевозки
                    </a>
                  </li>
                </ul>
                <a class="btn btn-red" href="/">
                  Все услуги
                </a>
              </div>
            </div>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/">
              Отзывы
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/">
              Пресс-центр
            </a>
          </li>
          <li class="menu__list-item accordion">
            <span class="menu__list-title">
              Кейсы
              <i class="icon-circle-chevron-down"></i>
            </span>
            <div class="menu__list-content">
              <div class="menu__list-wrap">
                <ul>
                  <li>
                    <a href="/">
                      Доставка буровой установки из Китая
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Авиадоставка Амортизаторов для спецтехники
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Автодоставка драконьих лодок
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      Доставка кокосового угля
                    </a>
                  </li>
                </ul>
                <a class="btn btn-red" href="/">
                  Все услуги
                </a>
              </div>
            </div>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/">
              История
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/">
              Контакты
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu__foot">
      <div class="container menu__foot-container">
        <div class="menu__foot-wrap">
          <p class="menu__foot-title">
            Телефон:
          </p>
          <a class="menu__foot-link" href="">
            +7 953 887 72 00
          </a>
        </div>
        <div class="menu__foot-wrap">
          <p class="menu__foot-title">
            Адрес:
          </p>
          <a class="menu__foot-link" href="">
            Новосибирск, ул Добролюбова, 16
          </a>
          <p class="menu__foot-text">
            Режим работы с 10:00 до 18:00 по будням
          </p>
        </div>
        <div class="menu__download">
          <a class="menu__download-item">
            <i class="icon-download"></i>
            Скачать реквизиты компании
          </a>
          <a class="menu__download-item">
            <i class="icon-download"></i>
            Скачать презентацию
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="menu__overlay">
  </div>
</aside>