<aside id="mobile-menu" class="menu lenis" data-lenis-prevent>

  <div class="menu__inner">

    <div class="menu__head">
      <div class="container menu__head-container">
        <div class="header__btn">
          <div class="header__btn-head">
            Свяжитесь с нами
          </div>
          <div class="header__btn-icon arrow">
            <i class="icon-chevron-down"></i>
          </div>
          <!-- Свяжитесь с нами -->
          <!--=include contact-us.html-->
        </div>
        <div class="menu__head-wrap">
          <a class="header__logo" href="/CML">
            <img class="header__logo-img" src="./images/logo/logo-white.svg" alt="CML COMPANY">
          </a>
          <button class="burger menu__close">
            <p class="burger__text">Закрыть</p>
            <span></span>
          </button>
        </div>
      </div>
    </div>

    <div class="menu__body">
      <div class="container menu__body-container">
        <ul class="menu__list">
          <li class="menu__list-item accordion">
            <span class="menu__list-title">
              О компании
              <i class="icon-circle-chevron-down"></i>
            </span>
            <div class="menu__list-content">
              <div class="menu__list-wrap">
                <ul>
                  <li>
                    <a href="/CML/404.html">
                      История
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Отзывы
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Пресс-центр
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="menu__list-item accordion">
            <span class="menu__list-title">
              Услуги
              <i class="icon-circle-chevron-down"></i>
            </span>
            <div class="menu__list-content">
              <div class="menu__list-wrap">
                <ul>
                  <li>
                    <a href="/CML/404.html">
                      Доставка грузов "под ключ"
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Перевод платежей
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Поиск и проверка поставщиков
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Международные перевозки
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Авиа
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Автомобильные
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Железнодорожные
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Контейнерные
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Сборные грузы
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Таможенное оформление
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Сертификация грузов
                    </a>
                  </li>
                  <li>
                    <a href="/CML/404.html">
                      Страхование грузов
                    </a>
                  </li>
                </ul>
                <a class="btn btn-outline" href="/CML/404.html">
                  Все услуги
                </a>
              </div>
            </div>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/CML/404.html">
              Реализованные проекты
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/CML/404.html">
              База знаний
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="/CML/404.html">
              Контакты
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu__foot">
      <div class="container menu__foot-container">
        <div class="menu__foot-wrap">
          <p class="menu__foot-title">
            Телефон:
          </p>
          <a class="menu__foot-link" href="tel:+79538877200">
            +7-953-887-72-00
          </a>
        </div>
        <div class="menu__foot-wrap">
          <p class="menu__foot-title">
            Адрес:
          </p>
          <p class="menu__foot-link">
            Новосибирск, ул Добролюбова, 16, оф. 216 
          </p>
          <p class="menu__foot-text">
            Режим работы: пн – пт 10:00-18:00 по Новосибирску, обед 13:00-14:00
          </p>
        </div>
        <div class="menu__download">
          <a class="menu__download-item" href="./docs/Карточка предприятия_СиЭмЭл.doc" download="Карточка предприятия_СиЭмЭл.doc">
            <i class="icon-download"></i>
            Скачать реквизиты компании
          </a>
          <a class="menu__download-item" href="/" download="">
            <i class="icon-file-pdf"></i>
            Скачать презентацию
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="menu__overlay">
  </div>
</aside>