<div class="modal" id="modal-callback">
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <h3 class="modal__title">
        Свяжитесь <br> с нами
      </h3>
      <ul class="header__dropdown">
        <li class="header__dropdown-item">
          <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
          <p class="header__dropdown-text">Отдел продаж</p>
          <div class="header__dropdown-icons">
            <div class="header__dropdown-icon">
              <i class="icon-telegram"></i>
            </div>
            <div class="header__dropdown-icon">
              <i class="icon-whatsapp"></i>
            </div>
          </div>
        </li>
        <li class="header__dropdown-item">
          <a class="header__dropdown-link" href="/">+7 123 456-78-90</a>
          <p class="header__dropdown-text">Поддержка клиентов</p>
          <div class="header__dropdown-icons">
            <div class="header__dropdown-icon">
              <i class="icon-telegram"></i>
            </div>
            <div class="header__dropdown-icon">
              <i class="icon-whatsapp"></i>
            </div>
          </div>
        </li>
        <li class="header__dropdown-item">
          <a class="header__dropdown-link" href="/">pochta@cml.com</a>
          <p class="header__dropdown-text">Эл. почта</p>
          <div class="header__dropdown-icons">
            <div class="header__dropdown-icon">
              <i class="icon-pochta"></i>
            </div>
          </div>
        </li>
        <li class="header__dropdown-item">
          <p class="header__dropdown-link" href="/">
            Принимаем звонки
            пн - пт с 8:30 до 17:30 по Москве
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal" id="modal-calc">
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="calc__inner">
        <div class="section__head">
          <h3 class="section__suptitle">Калькулятор</h3>
          <h2 class="section__title">
            Рассчитайте
            <br>
            <span>стоимость доставки</span>
          </h2>
        </div>
        <form action="">
          <div class="calc__content">
            <div class="calc__block">
              <div class="calc__head">
                <span class="calc__head-count">1</span>
                <p class="calc__head-text">Информация о грузе</p>
              </div>
              <div class="calc__body">
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Место отгрузки">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Место доставки">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Тип перевозки">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Масса, кг">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Объём, м3">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Наименование">
                </div>
                <textarea class="form-textarea" name="" id="" placeholder="При заполнении поле выглядит так"></textarea>
              </div>
            </div>
            <div class="calc__block">
              <div class="calc__head">
                <span class="calc__head-count">2</span>
                <p class="calc__head-text">Ваши контакты</p>
              </div>
              <div class="calc__body">
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Имя">
                </div>
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Телефон">
                </div>
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Эл.почта">
                </div>
                <button class="form-btn btn btn-red">
                  расчет стоимости
                </button>
                <div class="form-bottom">
                  <input class="form-checkbox" type="checkbox" required>
                  <p class="form-text">
                    Нажимая кнопку «Рассчитать стоимость доставки», <a href="/">вы принимаете условия обработки
                      пользовательских данных</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>