<div class="modal" id="modal-callback">
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <h3 class="modal__title">
        Свяжитесь <br> с нами
      </h3>
      <!-- Свяжитесь с нами -->
      <!--=include contact-us.html-->
    </div>
  </div>
</div>

<div class="modal" id="modal-calc">
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="calc__inner">
        <div class="section__head">
          <h3 class="section__suptitle">Калькулятор</h3>
          <h2 class="section__title">
            Рассчитайте
            <br>
            <span>стоимость доставки</span>
          </h2>
        </div>
        <form action="">
          <div class="calc__content">
            <div class="calc__block">
              <div class="calc__head">
                <span class="calc__head-count">1</span>
                <p class="calc__head-text">Информация о грузе</p>
              </div>
              <div class="calc__body">
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Место отгрузки">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Место доставки">
                </div>
                <div class="form-group dots">
                  <div class="dropdown">
                    <button class="dropdown__button" data-value="Тип перевозки" type="button">
                      <span class="dropdown__button-text">Тип перевозки</span>
                    </button>
                    <ul class="dropdown__list dropdown__list-border">
                      <li class="dropdown__list-item" data-value="Авиа">
                        Авиа доставка
                      </li>
                      <li class="dropdown__list-item" data-value="Авто">
                        Авто доставка
                      </li>
                      <li class="dropdown__list-item" data-value="Железнодорожная">
                        Железнодорожная доставка
                      </li>
                      <li class="dropdown__list-item" data-value="Морская">
                        Морская доставка
                      </li>
                      <li class="dropdown__list-item" data-value="Мультимодальная">
                        Мультимодальная доставка
                      </li>
                    </ul>
                    <input type="text" name="select-category" value="all" class="dropdown__input-hidden">
                  </div>
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Масса, кг">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Объём, м3">
                </div>
                <div class="form-group dots">
                  <input class="form-input" type="text" placeholder="Наименование">
                </div>
                <textarea class="form-textarea" name="" id="" placeholder="Описание груза"></textarea>
              </div>
            </div>
            <div class="calc__block">
              <div class="calc__head">
                <span class="calc__head-count">2</span>
                <p class="calc__head-text">Ваши контакты</p>
              </div>
              <div class="calc__body">
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Имя">
                </div>
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Телефон">
                </div>
                <div class="form-group">
                  <input class="form-input" type="text" placeholder="Эл.почта">
                </div>
                <button class="form-btn btn btn-red">
                  расчет стоимости
                </button>
                <div class="form-bottom">
                  <input class="form-checkbox" type="checkbox" required>
                  <p class="form-text">
                    Нажимая кнопку «Рассчитать стоимость доставки», <a href="/">вы принимаете условия обработки
                      пользовательских данных</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-bid">
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="section__head">
        <h3 class="section__suptitle">Обратная связь</h3>
        <h2 class="section__title">
          Хотите доставить груз из другой страны?
        </h2>
      </div>
      <div class="modal__bid">
        <p class="modal__bid-text">
          Оставьте заявку и наш менеджер свяжется с вами в ближайшее время
        </p>
        <form action="#" method="get">

          <div class="form-group">
            <input class="form-input" type="text" placeholder="Имя">
          </div>
          <div class="form-group">
            <input class="form-input" type="text" placeholder="Телефон">
          </div>
          <div class="form-group">
            <input class="form-input" type="text" placeholder="Эл.почта">
          </div>
          <button class="form-btn btn btn-red">
            Получить консультацию
          </button>
          <div class="form-bottom">
            <input class="form-checkbox" type="checkbox" required>
            <p class="form-text">
              Нажимая кнопку «Рассчитать стоимость доставки», <a href="/">вы принимаете условия обработки
                пользовательских данных</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>