<section class="plate planshet-block" id="plate">
  <div class="container-fluid">
    <div class="plate__inner">
      <div class="plate__btns">
        <a class="plate__btn btn mob-block" href="tel:+79538877200">
          <i class="icon-phone"></i>
          Позвонить
        </a>
        <a class="plate__btn btn mob-block whatsapp" href="https://wa.me/+79538877200">
          <i class="icon-whatsapp-color"></i>
          WhatsApp
        </a>
        <a class="plate__btn btn mob-block telegram" href="https://t.me/+79538877200">
          <i class="icon-telegram-color"></i>
          Telegram
        </a>
        <button class="plate__btn btn mob-block modal__btn" data-id="modal-calc">
          <i class="icon-calc"></i>
          Калькулятор
        </button>
        <button class="plate__btn btn btn-calc btn-red planshet-block modal__btn" data-id="modal-calc">
          Рассчитайте стоимость
          <i class="icon-calc"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="warning-plate" class="warning">
  <div class="container warning__container">
    <div class="warning__inner">
      <p class="warning__text">
        Этот сайт использует файлы <a href="/CML/cookie.html">сооkіе</a>
      </p>
      <button id="warning-btn" class="warning__btn btn" onclick="checkCookies()">
        Ок
      </button>
    </div>
  </div>
</section>

<div class="fixed-btns">
  <div class="fixed-btns__items">
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn telegram" href="https://t.me/+79538877200">
        <i class="icon-telegram-color"></i>
      </a>
    </div>
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn whatsapp" href="https://wa.me/+79538877200">
        <i class="icon-whatsapp-color"></i>
      </a>
    </div>
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn" href="tel:+79538877200">
        <i class="icon-phone"></i>
      </a>
    </div>
  </div>
  <div class="fixed-btns__btn btn btn-red" id="fixed-btn">
    <i class="icon-headphones"></i>
  </div>
</div>