<section class="plate planshet-block" id="plate">
  <div class="container-fluid">
    <div class="plate__inner">
      <div class="plate__btns">
        <button class="plate__btn btn btn-red mob-block modal__btn" data-id="modal-callback">
          <i class="icon-headphones"></i>
          Связаться
        </button>
        <button class="plate__btn btn btn-calc modal__btn" data-id="modal-calc">
          Рассчитайте стоимость
          <i class="icon-calc"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="warning-plate" class="warning">
  <div class="container warning__container">
    <div class="warning__inner">
      <p class="warning__text">
        Этот сайт использует файлы сооkіе для хранения данных.
        Продолжая использовать сайт, вы даете свое согласие на работу с этими <a class="text-accent" href="./docs/Политика использования cookie-файлов CML company.docx" download="Политика использования cookie-файлов CML company.docx">файлами</a>.
      </p>
      <button id="warning-btn" class="warning__btn btn">
        Принять и закрыть
      </button>
    </div>
  </div>
</section>