<section class="plate planshet-block" id="plate">
  <div class="container-fluid">
    <div class="plate__inner">
      <div class="plate__btns">
        <div class="fixed-btns__block mob-block">
          <div class="fixed-btns__block-img">
            <img src="./../images/plate/raketa.png" alt="">
          </div>
          <div class="fixed-btns__block-text">
            Мгновенная
            консультация
          </div>
          <div class="fixed-btns__block-btn">
          </div>
        </div>
        <a class="plate__btn btn mob-block blik" href="tel:+79538877200">
          <i class="icon-plate-phone"></i>
          <!-- Позвонить -->
        </a>
        <a class="plate__btn btn mob-block whatsapp blik" href="https://wa.me/+79538877200">
          <i class="icon-plate-whatsapp"></i>
          <!-- WhatsApp -->
        </a>
        <a class="plate__btn btn mob-block telegram blik" href="https://t.me/+79538877200">
          <i class="icon-plate-telegram"></i>
          <!-- Telegram -->
        </a>
        <a class="plate__btn btn mob-block max blik" href="https://max.ru/u/+79538877200">
          <i class="icon-plate-max"></i>
          <!-- Max -->
        </a>
        <button class="plate__btn btn mob-block modal__btn blik" data-id="modal-calc">
          <i class="icon-calc"></i>
          <!-- Калькулятор -->
        </button>
        <button class="plate__btn btn btn-calc btn-red planshet-block modal__btn" data-id="modal-calc">
          Рассчитайте стоимость
          <i class="icon-calc"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="warning-plate" class="warning">
  <div class="container warning__container">
    <div class="warning__inner">
      <p class="warning__text">
        Этот сайт использует файлы <a href="/CML/cookie.html">сооkіе</a>
      </p>
      <button id="warning-btn" class="warning__btn btn" onclick="checkCookies()">
        Ок
      </button>
    </div>
  </div>
</section>

<div class="fixed-btns">
  <div class="fixed-btns__block">
    <div class="fixed-btns__block-img">
      <img src="./../images/plate/raketa.png" alt="">
    </div>
    <div class="fixed-btns__block-text">
      Мгновенная
      консультация
    </div>
    <div class="fixed-btns__block-btn">
    </div>
  </div>
  <div class="fixed-btns__items">
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn max" href="https://max.ru/u/+79538877200">
        <i class="icon-max-color"></i>
      </a>
    </div>
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn telegram" href="https://t.me/+79538877200">
        <i class="icon-telegram-color"></i>
      </a>
    </div>
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn whatsapp" href="https://wa.me/+79538877200">
        <i class="icon-whatsapp-color"></i>
      </a>
    </div>
    <div class="fixed-btns__item">
      <a class="btn fixed-btns__item-btn" href="tel:+79538877200">
        <i class="icon-phone"></i>
      </a>
    </div>
  </div>
  <div id="fixed-btn" class="fixed-btns__btn btn btn-red blik">
    <i class="icon-headphones"></i>
  </div>
</div>

<section id="info-plate" class="plate-info__plate">
  <div class="container plate-info__container">
    <div class="plate-info__inner">
      <button id="info-close" class="plate-info__close">
      </button>
      <div class="plate-info__img">
        <picture>
          <source media="(min-width: 769px)" srcset="./images/plate/cover.png" type="image/png">
          <source media="(max-width: 768px)" srcset="./images/plate/cover-mob.png" type="image/png">
          <img src="./images/plate/cover.png" alt="">
        </picture>
      </div>
      <div class="plate-info__content">
        <div class="plate-info__title">
          <p>
            Пособие как организовать правильно процесс импорта из Китая
          </p>
        </div>
        <a class="plate-info__btn btn btn-red" href="./docs/Краткий обзор процесса импорта из Китая.pdf"
          download="Краткий обзор процесса импорта из Китая.pdf" target="_blank">
          скачать файл
        </a>
      </div>
    </div>
  </div>
</section>

<!-- <section id="telegram-plate" class="telegram__plate">
  <div class="container telegram__container">
    <div class="telegram__inner">
      <button id="telegram-close" class="telegram__close">
      </button>
      <div class="telegram__text">
        <p>
          Подписывайтесь на наш телеграм-канал и будьте
          в курсе последних новостей в мире ВЭД
        </p>
      </div>
      <a class="telegram__btn btn btn-telegram" href="https://t.me/cml_company" target="_blank">
        <i class="icon-telegram-color"></i>
        Подписаться
      </a>
    </div>
  </div>
</section> -->