<section class="work">
  <div class="container">
    <div class="work__inner">
      <div class="section__head">
        <p>От разовой доставки до полного аутсорсинга ВЭД</p>
        <h2>
          ВЫБЕРИТЕ <span>ФОРМАТ</span> <br> <span>СОТРУДНИЧЕСТВА</span>
        </h2>
      </div>
      <div class="work__body">
        <div class="work__blocks">
          <div class="work__block">
            <div class="work__block-title">
              ВАШ ЭКСПЕДИТОР И ТАМОЖЕННЫЙ БРОКЕР
            </div>
            <div class="work__block-wrap">
              <p>
                Полный цикл доставки: от поставщика до вашего склада
              </p>
              <ul>
                <li>
                  Организация перевозки всеми видами транспорта
                </li>
                <li>
                  Таможенное оформление за 24 часа
                </li>
                <li>
                  Прозрачное ценообразование без скрытых платежей
                </li>
              </ul>
              <p>
                Идеально для: компаний со своим ВЭД-отделом,
                которым нужна надежная логистика и поддержка на таможне
              </p>
            </div>
            <div class="work__block-count">
              01 направление
            </div>
          </div>
          <div class="work__block">
            <div class="work__block-title">
              ПОЛНЫЙ АУТСОРСИНГ ВЭД ПОД КЛЮЧ
            </div>
            <div class="work__block-wrap">
              <p>
                Вы получаете товар — мы делаем всё остальное
              </p>
              <ul>
                <li>
                  Поиск и проверка поставщиков
                </li>
                <li>
                  Оплата, доставка, растаможка
                </li>
                <li>
                  Оформление всех сертификатов и документов
                </li>
                <li>
                  Экономия до 30% на логистике
                </li>
              </ul>
              <p>
                Идеально для: компаний без ВЭД-отдела, <br>
                которые хотят просто покупать за рубежом без головной боли
              </p>
            </div>
            <div class="work__block-count">
              02 направление
            </div>
          </div>
        </div>

        <div class="work__items">
          <div class="swiper-wrapper work-wrapper">
            <div class="work__slide work__slide-active swiper-slide">
              <a class="work__item" href="javascript: void(0)">
                <div class="work__item-content">
                  <div class="work__item-title">
                    Индивидуальный подход
                  </div>
                  <div class="work__item-wrap">
                    <p>
                      <b>
                        Не шаблонные предложения, а логистика, <br>
                        адаптированная под ваш бизнес:
                      </b>
                    </p>
                    <ul>
                      <li>
                        Подбор оптимального маршрута
                      </li>
                      <li>
                        Гибкие условия оплаты
                      </li>
                      <li>
                        Персональный менеджер 24/7
                      </li>
                    </ul>
                    <p>
                      <b>
                        <i>
                          <span>
                            Экономим до 30% бюджета <br>
                            за счет оптимизации процессо
                          </span>
                        </i>
                      </b>
                    </p>
                  </div>
                  <span class="work__item-count">
                    01
                  </span>
                  <span class="work__item-icon icon-angle-item">
                    <i class="icon-angle-first icon-angle"></i>
                    <i class="icon-angle-second icon-angle"></i>
                  </span>
                </div>
              </a>
            </div>
            <div class="work__slide swiper-slide">
              <a class="work__item" href="javascript: void(0)">
                <div class="work__item-content">
                  <div class="work__item-title">
                    ТАМОЖЕННОЕ ОФОРМЛЕНИЕ
                    БЕЗ ВАШЕГО УЧАСТИЯ
                  </div>
                  <div class="work__item-wrap">
                    <p>
                      <b>
                        Полный пакет документов подготовим сами:
                      </b>
                    </p>
                    <ul>
                      <li>
                        Декларации, сертификаты, СГР
                      </li>
                      <li>
                        Выпуск за 24 часа
                      </li>
                      <li>
                        Ответим на все запросы ФТС
                      </li>
                    </ul>
                    <p>
                      <b>
                        <i>
                          <span>
                            500+ успешных выпусков в год <br>
                            100% легальность
                          </span>
                        </i>
                      </b>
                    </p>
                  </div>
                  <span class="work__item-count">
                    02
                  </span>
                  <span class="work__item-icon icon-angle-item">
                    <i class="icon-angle-first icon-angle"></i>
                    <i class="icon-angle-second icon-angle"></i>
                  </span>
                </div>
              </a>
            </div>
            <div class="work__slide swiper-slide">
              <a class="work__item" href="javascript: void(0)">
                <div class="work__item-content">
                  <div class="work__item-title">
                    НИКАКИХ СКРЫТЫХ ПЛАТЕЖЕЙ И НЕПРЕДВИДЕННЫХ РАСХОДОВ
                  </div>
                  <div class="work__item-wrap">
                    <p>
                      <b>
                        Просчитываем все риски до начала работы:
                      </b>
                    </p>
                    <ul>
                      <li>
                        Точный расчет таможенных платежей
                      </li>
                      <li>
                        Проверка необходимости сертификатов
                      </li>
                      <li>
                        Анализ кодов ТН ВЭД
                      </li>
                      <li>
                        Оценка рисков задержек на таможне
                      </li>
                    </ul>
                    <p>
                      <b>
                        <i>
                          <span>
                            Еще до начала работы Вы получаете расчет <br>
                            себестоимости Вашего груза с учетом всех рисков
                          </span>
                        </i>
                      </b>
                    </p>
                  </div>
                  <span class="work__item-count">
                    03
                  </span>
                  <span class="work__item-icon icon-angle-item">
                    <i class="icon-angle-first icon-angle"></i>
                    <i class="icon-angle-second icon-angle"></i>
                  </span>
                </div>
              </a>
            </div>
            <div class="work__slide swiper-slide">
              <a class="work__item" href="javascript: void(0)">
                <div class="work__item-content">
                  <div class="work__item-title">
                    СПОСОБОВ ДОСТАВКИ ДЛЯ ЛЮБЫХ СРОКОВ И БЮДЖЕТОВ
                  </div>
                  <div class="work__item-wrap">
                    <p>
                      <b>
                        Подберем оптимальный маршрут под ваши задачи:
                      </b>
                    </p>
                    <ul>
                      <li>
                        Авиа: от 3 дней (срочно)
                      </li>
                      <li>
                        Авто: от 18 дней (оптимально)
                      </li>
                      <li>
                        Ж/Д: от 21 дней (баланс цены)
                      </li>
                      <li>
                        Море: от 35 дней (экономично)
                      </li>
                      <li>
                        Сборные: от 10 кг (для старта)
                      </li>
                    </ul>
                    <p>
                      <b>
                        <i>
                          <span>
                            50+ стран доставки
                          </span>
                        </i>
                      </b>
                    </p>
                  </div>
                  <span class="work__item-count">
                    04
                  </span>
                  <span class="work__item-icon icon-angle-item">
                    <i class="icon-angle-first icon-angle"></i>
                    <i class="icon-angle-second icon-angle"></i>
                  </span>
                </div>
              </a>
            </div>
            <div class="work__slide swiper-slide">
              <a class="work__item" href="javascript: void(0)">
                <div class="work__item-content">
                  <div class="work__item-title">
                    ЦЕНЫ НИЖЕ РЫНОЧНЫХ НА 10-20%
                  </div>
                  <div class="work__item-wrap">
                    <p>
                      <b>
                        Прямые контракты с перевозчиками <br>
                        и оптовые объемы = ваша выгода:
                      </b>
                    </p>
                    <ul>
                      <li>
                        Прямые контракты без посредников
                      </li>
                      <li>
                        Оптовые скидки от перевозчиков
                      </li>
                      <li>
                        Оптимизация маршрутов
                      </li>
                      <li>
                        Консолидация грузов
                      </li>
                    </ul>
                    <p>
                      <b>
                        <i>
                          <span>
                            Сэкономили клиентам <br>
                            более 20 млн руб. за 2025 год
                          </span>
                        </i>
                      </b>
                    </p>
                  </div>
                  <span class="work__item-count">
                    05
                  </span>
                  <span class="work__item-icon icon-angle-item">
                    <i class="icon-angle-first icon-angle"></i>
                    <i class="icon-angle-second icon-angle"></i>
                  </span>
                </div>
              </a>
            </div>
            <div class="swiper-slide"></div>
          </div>
        </div>

        <div class="banner">
          <div class="banner__inner">
            <span>
              Какой формат выбрать?
            </span>
            <p>
              Ответим за 15 минут после заявки
            </p>
            <a class="banner__btn btn blik" href="#popup:marquiz_6746e81ec17b29002647f133">
              Обсудить проект с логистом
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>