.case-page {
  .request .section__head h2 {
    max-width: 82rem;
    margin-bottom: 0.4rem;
  }

  .case__items {
    width: fit-content;
  }

  .case__img {
    aspect-ratio: 540 / 512;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.made {
  overflow: unset;
  // position: relative;
  // z-index: 1;

  // .case {
  //   &__item {
  //     opacity: 1;
  //     transform: unset;
  //   }

  //   &__img {
  //     max-height: 68rem;
  //     height: auto;
  //     opacity: 1;
  //     transform: unset;
  //     margin-top: -17.4rem;
  //   }
  // }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }

  &__cover {
    grid-column: 1/6;

    height: fit-content;

    position: sticky;
    top: 16.4rem;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    grid-column: 6/13;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 4rem 3rem 3rem 3rem;
    background-color: var(--white);

    &-title {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 120%;
      text-transform: uppercase;

      span {
        color: var(--primary-accent);
      }
    }

    &-text {
      max-width: 62rem;

      font-weight: 700;
      font-size: 1.6rem;
      line-height: 140%;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-suptitle {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 140%;
      text-transform: uppercase;

      span {
        color: var(--primary-accent);
      }
    }

    &-list {

      ul {
        padding: 0 0 0 1.7rem;
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        line-height: 140%;

        margin-bottom: 2rem;

        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          width: 0.7rem;
          height: 0.7rem;
          background-color: var(--primary-accent);
          border-radius: 0.7rem;
          position: absolute;
          top: 0.7rem;
          left: -1.4rem;
        }
      }
    }

    &-feats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-auto-flow: column;
      gap: 3rem 1rem;
      max-width: 49rem;
      width: 100%;
    }

    &-feat {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 2.2rem;
      border-left: 0.2rem solid var(--primary-accent);

      &--title {
        font-weight: 400;
        font-size: 3.4rem;
        line-height: 100%;
        color: var(--primary-accent);
      }

      &--text {
        line-height: 140%;
      }
    }
  }
}

.cases {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__body {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 3rem;
    background-color: var(--white);
    border: 0.1rem solid transparent;
    transition: all 0.3s ease;
    color: inherit;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-accent);

      .cases__item-img {
        filter: grayscale(0);
      }

      .plus-icon {
        background-color: var(--primary-accent);

        i {
          color: var(--white);
        }
      }
    }

    &--case {
      gap: 3rem;
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 480/370;
      filter: grayscale(1);
      transition: filter 0.3s ease;

      .cases__item--case & {
        filter: none;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4rem;
      height: 100%;

      .cases__item--case & {
        gap: 2rem;
      }
    }

    &-head {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      span {
        font-weight: 800;
        font-size: 2.6rem;
        line-height: 110%;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
    }

    &-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;

      span {
        font-weight: 400;
        ;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--primary-accent);
      }
    }

    &-feats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 4rem;
      width: 100%;
    }

    &-feat {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      span {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 100%;
        color: var(--primary-accent);
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.6rem;
      height: 4.6rem;
      background-color: var(--primary-accent);

      position: absolute;
      right: 0;
      bottom: 0;

      i {
        font-size: 1.6rem;
        color: var(--white);
      }
    }
  }
}

.capture {

  &__inner {}

  &__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;
    padding: 2.8rem 5rem 2.7rem 5rem;
    background-color: var(--primary-accent);
    overflow: hidden;

    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 65rem;
    width: 100%;

    color: var(--white);

    position: relative;
    z-index: 2;
  }

  &__title {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 120%;
  }

  &__text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
  }

  &__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    i {
      font-size: 2.4rem;
      color: var(--white);
    }

    p {
      font-style: italic;
      font-weight: 700;
    }
  }

  &__btn {
    min-width: 22.8rem;

    position: relative;
    z-index: 2;
  }

  &__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cover {
    width: 77.9rem;
    height: 73rem;

    position: absolute;
    top: -18.5rem;
    right: 11.6rem;
    z-index: 1;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}