.case-page {
  .request .section__head h2 {
    max-width: 82rem;
    margin-bottom: 0.4rem;
  }
}

.made {
  overflow: unset;
  position: relative;
  z-index: 1;

  .case {
    &__item {
      opacity: 1;
      transform: unset;
    }

    &__img {
      height: auto;
      opacity: 1;
      transform: unset;
      margin-top: -17.4rem;
    }
  }
}

.cases {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__body {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 3rem;
    background-color: var(--white);
    border: 0.1rem solid transparent;
    transition: all 0.3s ease;
    color: inherit;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-accent);

      .cases__item-img {
        filter: grayscale(0);
      }

      .plus-icon {
        background-color: var(--primary-accent);

        i {
          color: var(--white);
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 480/370;
      filter: grayscale(1);
      transition: filter 0.3s ease;
    }

    h5 {
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 110%;
      margin-bottom: 2rem;
    }

    p {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 120%;
      margin-bottom: 4rem;
    }

    &-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;

      span {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 110%;
        color: var(--primary-accent);
      }
    }
  }
}