.customs {

  .general--sample .general__body {
    max-width: 97.2rem;
  }

  .press__item {
    width: 100%;
  }
}

.articles {

  .section__head h2 {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem 0;
  }

  &__body {
    width: 100%;
  }
}