.international {

  .templates-desc .section__head {
    max-width: calc(100% - 67.6rem);
  }

  .templates-desc__content {
    display: flex;
    flex-direction: row;
    gap: 16rem;
    justify-content: space-between;
    width: 100%;
  }

  .templates-desc__body {
    max-width: 68rem;
  }

  .templates-desc__img {
    // width: auto;
    width: 67.6rem;
    height: 62rem;
    position: absolute;
    // top: -2rem;
    top: 2rem;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .assortment__item-text {
    min-height: 9.1rem;
    margin-bottom: 3rem;
    overflow: hidden;
  }

  .assortment__item-wrap {
    gap: 0;
  }

  .assortment__item-wrap span {
    font-size: 3.4rem;
  }
}

.assortment {
  overflow: visible;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0 3rem;
    width: 100%;
    height: 100%;
    padding: 5rem 5rem 6rem 5rem;
    background-color: var(--white);
    border: 0.1rem solid transparent;
    overflow: hidden;
    transition: all 0.3s ease;

    color: inherit;

    &:not(.international .assortment__item) {
      height: 100%;
    }

    &-content {
      height: 100%;
      transition: all 0.3s ease;

      position: relative;
      z-index: 1;
    }

    &-head {
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease;

      grid-column: 1/2;
      grid-row: 1/2;

      &:not(.international .assortment__item-head) {
        margin-top: auto;
        height: fit-content;
      }

      p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;

        &:not(:last-child, .certificates .assortment__item-head p) {
          margin-bottom: 2rem;
        }
      }

      &--img {
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          background-color: var(--primary-bg);
          margin-top: auto;
          margin-bottom: 3rem;
          transition: all 0.3s ease;
        }
      }

      i {
        display: none;
      }
    }

    &-title {
      margin-bottom: 3rem;
      transition: all 0.3s ease;

      font-weight: 800;
      font-size: 3.4rem;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
    }

    &-text {
      margin-bottom: 2rem;
      overflow: hidden;

      font-size: 1.6rem;
    }

    &-body {
      display: flex;
      flex-direction: column;
      border-left: 0.1rem solid var(--primary-black-10);
      padding-left: 3rem;
      transition: all 0.3s ease;

      grid-column: 2/3;
      grid-row: 1/4;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid var(--primary-black-10);

      span {
        font-weight: 400;
        font-size: 5rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--primary-accent);
      }

      p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 2rem;

      p {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 140%;
        text-transform: uppercase;
      }

      ul {
        padding: 0 0 0 1.7rem;
      }

      li {
        margin-bottom: 1.5rem;

        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;

        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          display: block;
          width: 0.7rem;
          height: 0.7rem;
          background-color: var(--primary-accent);
          border-radius: 0.7rem;

          position: absolute;
          top: 0.7rem;
          left: -1.7rem;
        }
      }
    }

    &-foot {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow: hidden;
      transition: all 0.3s ease;

      grid-column: 1/2;
      grid-row: 2/3;

      .btn {
        width: 100%;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 5rem 8rem 5rem;
    background-color: var(--primary-accent);
    overflow: hidden;

    position: relative;

    &-head {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 39rem;
    }

    &-title {
      font-weight: 700;
      font-size: 4.5rem;
      line-height: 140%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: var(--white);
    }

    &-text {
      font-weight: 400;
      font-size: 2rem;
      line-height: 140%;
      color: var(--white);
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 35rem;
      width: 100%;

      position: relative;
      z-index: 2;

      .form-group {
        width: 100%;
      }

      .form-input {
        background: transparent;
        border: 0.1rem solid var(--white);

        color: var(--white);
        text-align: center;

        &::placeholder {
          color: var(--white);
        }
      }

      .form-btn {

        &:hover {
          --button-color: var(--white);
          --button-bgcolor: var(--primary-black);
          --button-border-color: var(--primary-black);
        }
      }

      .form-text {
        margin-top: -0.5rem;

        font-size: 1rem;
        color: var(--white);

        a {
          color: var(--white);

        }
      }
    }

    &-cover {
      max-width: 70.4rem;
      width: 100%;
      height: 66rem;

      position: absolute;
      right: -31.2rem;
      bottom: 5rem;
      z-index: 1;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.reasons {
  overflow: visible;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section__head {
    border-bottom: 0.1rem solid var(--primary-black-10);
    margin-bottom: 4rem;
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10.8rem;
    margin: 0;

    position: sticky;
    top: 16rem;
    height: fit-content;

    p {
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 120%;
      text-transform: uppercase;
    }

    span {
      font-weight: 400;
      font-size: 20rem;
      line-height: 120%;
      color: var(--primary-accent);
      transition: all 0.2s ease;
    }
  }

  &__body {
    overflow: visible;
    position: sticky;
    top: 16rem;
    max-width: 96rem;
    width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: row;
    position: sticky;
    transition: all 0.6s;
    top: 16rem;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:last-child {
      .reasons__item-head {
        background-color: var(--primary-accent);
      }

      .reasons__item-count {
        color: var(--white);
      }

      .reasons__item-body h6 {
        color: var(--primary-black);
      }
    }

    .over {
      position: absolute;
      transition: opacity 0.8s, transform 0.3s;
      z-index: 99;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ebebf1;
      opacity: 0;
      pointer-events: none;
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      width: 100%;
      background-color: var(--white);
      border: 0.1rem solid var(--primary-black-10);
    }

    &-num {
      display: none;
      margin-bottom: 1.5rem;

      span {
        font-weight: 800;
        font-size: 3rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--primary-accent);
      }
    }

    &-title {
      max-width: 68rem;
      margin-bottom: 2rem;

      span {
        font-weight: 800;
        font-size: 3.4rem;
        line-height: 120%;
        text-transform: uppercase;
      }
    }

    &-text {
      max-width: 35rem;
      margin-bottom: 2rem;

      p:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &-img {
      display: flex;
      justify-content: flex-end;

      img {
        width: auto;
        height: 26.7rem;
        object-fit: contain;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      position: absolute;
      bottom: 5rem;
      left: 5rem;

      &--block {
        width: fit-content;
        padding: 0.6rem 1.4rem 0.5rem 1.5rem;
        background-color: var(--primary-accent);

        font-weight: 800;
        font-size: 2.4rem;
        line-height: 120%;
        color: var(--white);
      }

      &--text {
        max-width: 25rem;

        font-weight: 800;
        font-size: 2rem;
        line-height: 125%;
        color: var(--primary-black);
      }
    }
  }
}