.press {

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: calc(25% - 1.5rem);
    padding: 3rem;
    background-color: var(--white);
    border: 0.1rem solid transparent;
    transition: all 0.3s ease;
    color: inherit;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-accent);

      .press__item-img {
        filter: grayscale(0);
      }

      .press__item-date span {
        color: var(--primary-accent);
      }

      .plus-icon {
        background-color: var(--primary-accent);

        i {
          color: var(--white);
        }
      }
    }

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 339/262;
      filter: grayscale(1);
      transition: filter 0.3s ease;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3.6rem;
      height: 100%;
    }

    &-head {
      
      span {
        font-weight: 800;
        font-size: 2.6rem;
        line-height: 110%;
      }
    }

    &-foot {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      // margin-top: 2rem;
      margin-top: auto;
    }

    &-date {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;

      span {
        font-weight: 400;
        ;
        font-size: 1.8rem;
        line-height: 110%;
      }
    }
  }

  &-page {

    .dropdown {

      &__content {
        padding-bottom: 1.2rem;
      }

      &__container {
        transition: all 0.2s ease;
      }

      &.is-active {

        .dropdown__container {
          transition-delay: 0.1s;
          box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}