.privacy {

  &-page {

    .general {
      margin-bottom: 3rem;
    }

    .general__inner {
      gap: 2rem;
    }
  }

  &__inner {
    max-width: 110rem;
    width: 100%;
  }

  a.privacy__download:hover {
    text-decoration: none;
  }

  &__download {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 120%;
    color: var(--primary-accent);
    width: fit-content;

    &:hover {
      text-decoration-line: none;

      span {
        text-decoration-line: underline;
      }
    }

    i {
      font-size: 2.6rem;
    }
  }

  &__accent {
    color: var(--primary-accent);
  }

  h2 {
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.2;

    span {
      color: var(--primary-accent);
    }
  }

  p:not(:last-child) {
    margin-bottom: 2rem;
  }

  a {
    color: var(--primary-accent);

    &:hover {
      text-decoration-line: underline;
    }
  }

  strong {
    font-weight: 800;
  }

  ul {
    padding: 0 0 0 2.4rem;
    margin-bottom: 2rem;
  }

  li {
    position: relative;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      width: 0.44rem;
      height: 0.44rem;
      background-color: var(--primary-black);
      border-radius: 0.22rem;
      position: absolute;
      top: 0.7rem;
      left: -1.4rem;
    }
  }
}